<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">OUR STRATEGY</h1>
        </div>

        <ul class="list-unstyled flex flex-column gap-4">
            <li>
                <span class="txt-big">Client-Centric Approach </span>
                <br>
                <span class="txt-description">Focus on understanding client needs to offer customized,
                    cost-effective, and innovative
                    solutions.</span>
            </li>
            <li>
                <span class="txt-big"> Compliance with Industry Standards</span>
                <br>
                <span class="txt-description">Maintain strict adherence to internationally recognized standards to
                    ensure
                    quality, safety, and reliability.</span>
            </li>
            <li>
                <span class="txt-big">Invest in Talent and Technology </span>
                <br>
                <span class="txt-description">Develop a skilled workforce and leverage state-of-the-art technology
                    to deliver
                    exceptional results.</span>
            </li>
            <li>
                <span class="txt-big">End-to-End Solutions </span>
                <br>
                <span class="txt-description">Provide comprehensive EPFC services, ensuring seamless integration and
                    execution of projects.
                    Sustainability Integration: Embed sustainable practices into operations, from material selection
                    to project
                    execution.</span>
            </li>
            <li>
                <span class="txt-big"> Strategic Partnerships:</span>
                <br>
                <span class="txt-description">We collaborate with industry-leading partners to deliver innovative
                    solutions, ensuring
                    excellence and mutual growth in every endeavor.</span>
            </li>
            <li>
                <span class="txt-big"> Onsite and Offsite Capabilities </span>
                <br>
                <span class="txt-description">Enhance flexibility by offering both facility-based and onsite
                    services to meet
                    diverse client needs.</span>
            </li>
        </ul>

    </div>
</div>