<section class="news-latest-section">
    <div class="container py-8">
        <h2 class="branded slab slab-bg centered">Latest News </h2>
        <ul class="clean article-list">
            <li>
                <article>
                    <a href="#">
                        <div class="img-div">
                            <img src="assets/images/latest-news-img-1.png" alt="" class="">
                            <ul class="tags clean">
                                <li class="tag active" data-brand="lts">ALFA Marine</li>
                                <li class="tag " data-brand="">Press Releases</li>
                            </ul>
                        </div>
                        <h4 class="title">ALFA Marine signs definitive agreement to acquire a 70% equity stake in Emdad
                        </h4>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="#">
                        <div class="img-div">
                            <img src="assets/images/latest-news-img-2.png" alt="" class="">
                            <ul class="tags clean">
                                <li class="tag active" data-brand="lts">ALFA Marine</li>
                                <li class="tag " data-brand="">Press Releases</li>
                            </ul>
                        </div>
                        <h4 class="title">
                            ALFA Marine creates new Logistics & Technical Services division to
                            drive expansion and diversiﬁcation
                        </h4>
                    </a>
                </article>
            </li>
        </ul>

        <p class="text-center">
            <a href="/en/media/newsroom" class="cta button centered">
                <svg class="svg-inline--fa fa-newspaper icon" aria-hidden="true" focusable="false" data-prefix="fass"
                    data-icon="newspaper" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M96 32l32 0 352 0 32 0 0 32 0 384 0 32-32 0-320 0-32 0-48 0-48 0L0 480l0-32L0 128 0 96l64 0 0 32 0 288 16 0 16 0L96 64l0-32zm64 64l0 128 160 0 0-128L160 96zm224 0l0 32 16 0 32 0 16 0 0-32-16 0-32 0-16 0zm0 96l0 32 16 0 32 0 16 0 0-32-16 0-32 0-16 0zM160 288l0 32 16 0 256 0 16 0 0-32-16 0-256 0-16 0zm0 96l0 32 16 0 256 0 16 0 0-32-16 0-256 0-16 0z">
                    </path>
                </svg>
                Read More News
            </a>
        </p>
    </div>

</section>