<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">SPEAK UP</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                ALFA is committed to maintaining highest standards of ethics, honesty, openness and accountability. It
                recognizes that all of its employees as well as customers, suppliers and other market participants have
                an important role to play in achieving these goals.
            </p>
            <p class="txt-description">
                If you are aware of any potentially illegal, unethical, or improper conduct taken or suspected by a ALFA
                company, employee, affiliate, customer, and/or supplier, please report it to the Ethics & Compliance
                Office via the Whistleblowing Helpline as detailed below.
            </p>

            <div class="ins-head-box">
                <h1 class="ins-heading">Whistleblowing Helpline</h1>
            </div>
            <div>
                <span class="txt-big">Email: </span>
                <span class="txt-description"> <a href="mailto:Ethics@alfamarinesa.com">Ethics&#64;alfamarinesa.com</a>
                </span>
            </div>
            <div>
                <span class="txt-big">Call: </span>
                <span class="txt-description">+966 13 805 2528</span>
            </div>
            <p class="txt-description">
                To ensure a thorough investigation, please provide sufficient details in your concern or complaint,
                including the following, where applicable:
            </p>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul>
                    <li>
                        <span class="txt-description">
                            Your name and contact information (reports may be made anonymously, though please note that
                            anonymity may limit the investigation's scope)
                        </span>
                    </li>
                    <li>
                        <span class="txt-description">
                            A detailed description of the improper activity
                        </span>
                    </li>
                    <li>
                        <span class="txt-description">
                            Names of individuals, departments, or employees involved or aware of the activity
                        </span>
                    </li>
                    <li>
                        <span class="txt-description">
                            Approximate or actual dates the activity occurred
                        </span>
                    </li>
                    <li>
                        <span class="txt-description">
                            Supporting documents or evidence
                        </span>
                    </li>
                    <li>
                        <span class="txt-description">
                            Any steps you have already taken internally with ALFA management to report or resolve the
                            concern
                        </span>
                    </li>
                </ul>

            </div>

            <p class="txt-description">
                ALFA will not retaliate — and will not tolerate retaliation — against any individual for reporting
                good-faith concern or complaint, or for participating in the investigation of any complaint.
            </p>
        </div>
    </div>
</div>