<h1>SPEAK UP</h1>
<p>
    ALFA is committed to maintaining the highest standards of ethics, honesty, openness, and accountability. It recognizes that all of its employees as well as customers, suppliers, and other market participants have an important role to play in achieving these goals.
</p>
<p>
    If you are aware of any potentially illegal, unethical, or improper conduct taken or suspected by an ALFA company, employee, affiliate, customer, and/or supplier, please report it to the Ethics & Compliance Office via the Whistleblowing Helpline as detailed below.
</p>
<h2>Whistleblowing Helpline</h2>
<p>
    Email: <a href="mailto:Ethics@alfamarinesa.com">Ethics&#64;alfamarinesa.com</a><br>
    Call: +966 13 805 2528
</p>
<p>
    The concern or complaint should contain sufficient information to permit adequate investigation. At a minimum, the following information should be provided, as applicable:
</p>
<ul>
    <li>The name and contact information of the reporting party; reports may be made anonymously, but individuals who make such reports should recognize the limits that are inherent in investigating anonymous reports.</li>
    <li>Description of the improper activity, with sufficient detail to permit an initial investigation.</li>
    <li>Name(s) of the employee(s), other individuals, or department(s) engaging in the activity or with knowledge of the activity.</li>
    <li>Approximate or actual date(s) the activity took place.</li>
    <li>Supporting documents.</li>
    <li>Information on any steps taken internally with ALFA management to report or resolve the concern or complaint.</li>
</ul>
<p>
    ALFA will not retaliate — and will not tolerate retaliation — against any individual for reporting a good-faith concern or complaint, or for participating in the investigation of any complaint.
</p>