<section class="careers">
    <div class="cover">
        <div class="w-12 md:w-6 flex justify-content-end">
            <div class="content narrow">
                <h2>Build a<br> <b>Rewarding<br> Career</b></h2>
                <p>ALFA Marine is looking to expand our team with the industry’s brightest minds. If you have a
                    passion for
                    shaping the future, and want to build a successful and rewarding career, we may have a role for
                    you.</p>
                <p>
                    <a href="/en/careers" class="button primary cta">
                        <svg class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false"
                            data-prefix="fass" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                            </path>
                        </svg>
                        Read More
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>