.png-card .p-card-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.png-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.png-card-header h3 {
    letter-spacing: 0.32px;
    color: #1c415b;
    font-size: 16px;
    font-family: "Poppins-SemiBold";
    margin: 0;
}
.png-card-header-btns {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.png-card-footer {
    text-align: right;
}
.png-card-header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inner-section {
    background-color: #f2f2f2;
}
.ins-head-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ins-heading {
    position: relative;
    z-index: 2;
    font-family: "Montserrat-Arabic", sans-serif;
    font-weight: 800;
    font-size: clamp(2rem, 3vw, 2.5rem);
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
.ins-heading::before {
    content: "";
    background-image: url("../../../src/assets/images/slab-aqua.svg");
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-margin-start: 16px;
    margin-inline-start: 16px;
    z-index: -1;
    height: 140px;
    display: block;
    aspect-ratio: 140 / 160;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.txt-description {
    color: #002438;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    margin: 0;
}
.txt-big {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #002438;
    margin: 0;
}

.inner-box {
    background-color: #e0e5ea;
}

.ins-heading.sm {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.ins-heading.sm::before {
    height: 80px;
}

.logo {
    width: 200px;
    max-width: 100%;
}
.fade-section {
    opacity: 0;
    transition: opacity 1s ease;
}

.fade-section.visible {
    opacity: 1;
}
