.p-drawer-content {
    // border: 2px solid red;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: calc(100vh - 350px);
}

.sidebar-header {
    padding: 1.5rem 1.25rem;
}
