<section class="projects-latest">
    <div class="project-leftside py-8">
        <div class="leftsideinner pt-6 animate__animated animate__fadeInUp animate__delay-5s">
            <header class="section-header">
                <h2 class="branded slab text-white">
                    Latest Projects
                </h2>
            </header>
            <a href="/en/projects" class="cta button text-white align-self-start">
                <svg class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false" data-prefix="fass"
                    data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    data-fa-i2svg="">
                    <path fill="#009DE0"
                        d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                    </path>
                </svg>
                See All Projects
            </a>
        </div>
    </div>
    <div class="project-rightside">
        <div class="p-8 animate__animated animate__fadeInUp animate__delay-6s" style="animation-delay: 6s;">
            <div class="img-box">
                <img src="assets/images/projects.png" class="" alt="">
            </div>
            <div class="flex gap-5 my-5 flex-column lg:flex-row">
                <header class="content-header">
                    <h3>Ghasha Concession Artificial Islands</h3>
                    <p>Abu Dhabi, UAE</p>
                </header>
                <img src="../../../../assets/ALFA LOGO/ALFA LOGO/Variation Size/1.5x/ALFAALFA FULL LOGO V2.1 COLOR@1.5x.png"
                    class="logo img-fluid" alt="Logo">
            </div>
            <dl
                class="details flex flex-column lg:flex-row gap-3 justify-content-between border-top border-bottom py-3">
                <div class="flex flex-column">
                    <dt>Theme</dt>
                    <dd>Energy</dd>
                </div>
                <div class="flex flex-column">
                    <dt>Client</dt>
                    <dd>ADNOC, Abu Dhabi, UAE</dd>
                </div>
                <div class="flex flex-column">
                    <dt>Status</dt>
                    <dd> Ongoing, 2019 </dd>
                </div>
            </dl>

            <a href="/en/dredging-and-marine/ghasha-concession-artificial-islands/" class="cta mb-7 mt-4"><svg
                    class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false" data-prefix="fass"
                    data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    data-fa-i2svg="">
                    <path fill="#009DE0"
                        d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                    </path>
                </svg> Read More</a>


            <ul class="projectimg-list p-0 list-unstyled flex flex-column lg:flex-row gap-3">
                <li>
                    <img src="assets/images/project-img-1.png" alt="">
                    <p>Nasr Full Field Development Project - Pkg-1 + 85 MBD Modification</p>
                </li>
                <li>
                    <img src="assets/images/project-img-2.png" alt="">
                    <p>New Suez Canal</p>
                </li>
                <li>
                    <img src="assets/images/project-img-3.png" alt="">
                    <p>Umm Lulu Full Field Development Project (Pkg-1)</p>
                </li>
            </ul>
        </div>
    </div>

</section>