<h1>

    WELDING AND FABRICATION SERVICES
</h1>
<P>

    ALFA MARINE has extensive experience in modular project delivery and a deep understanding of the EPFC and project
    management process. We provide fabrication and construction strategies that are tailored to each project's specific
    needs and goals. We work closely with our clients to develop a project execution strategy that maximizes the value
    for all our clients.
</P>
<P>

    All our Welders are pre-qualified ABS/ DNV certified.
</P>

<h1>

    Living Quarters & Technical building Modules
</h1>
<ul>
    <li>

        • Fabricate offshore/onshore ABS/DNV pressurized modular accommodation and technical buildings.
    </li>
</ul>
<h1>

    Vessel Areas:
</h1>
<ul>
    <li>

        • Doors and Windows
    </li>
    <p>

        This includes B, A, H & J class fire and blast rated products to provide safety for our client’s personnel and
        key equipment and assets in challenging and hazardous environments.
    </p>
    <li>

        o Fire and Blast Rated Doors (Internal & External) – B, A, H & J Rated
    </li>
    <li>

        o Fire and Blast Rated Windows and Hatches
    </li>
    <li>

        o Watertight Doors
    </li>

    <h1>

        • Tanks
    </h1>
    <li>

        o Fabrication of modular type oil, water, storage, trip, ballast, fuel, and chemical tanks for marine and
        offshore.
    </li>
    <h1>

        • Ducts
    </h1>
    <li>


        o Design, fabrication and Installation of Ductwork, Dampers, volume, louvres.
    </li>
    <li>

        o Fabricate and installation of pipe cladding with insulation
    </li>
    <h1>

        • Piping
    </h1>
    <li>

        o Well test pipeline
    </li>
    <li>
        o HP pipeline

    </li>
    <li>

        o Mud Pipeline
    </li>
    <li>

        o Gas/Oil Pipeline
    </li>
    <li>

        o Pipe spools
    </li>
    <li>

        o Accommodation Pipeline
    </li>
    <li>

        o Sea Water/Grey water/Back water/ Fresh water Pipeline
    </li>
    <li>
        o Deck/Cantilever Frain pipeline

    </li>
    <h1>

        • Outfitting Fabrication
    </h1>
    <li>

    </li>
    <li>

        o Platforms
    </li>
    <li>

        o Walkways
    </li>
    <li>

        o Gangway
    </li>
    <li>

        o Ladder / Hatches
    </li>
    <li>

        o Swing gates
    </li>
    <h1>
        • Baskets & Racks
    </h1>
    <li>
        o Fabricate offshore cargo baskets & cargo carrying units (CCU’s) according to DNV 2.7-1 standard.
    </li>
    <li>
        o Fabricate acetylene, gas, cascade & oxygen cylinder racks.

    </li>
    <h1>
        • Muffler & Exhaust system

    </h1>
    <li>
        o Fabrication Exhausts & Arrestors and their Accessories such as Gaskets, Exhaust Tip, and Flexible
    </li>
    <li>
        o Fabricate of Catalytic converter, mufflers and its insulation blanket.

    </li>
    <h1>

        • Other steel Fabrication
    </h1>
    <li>

        o Fabricate and build ABS approved customized steel products
    </li>
    <li>
        o Onshore Repair and Maintenance Services.

    </li>
    <li>

        o Recondition and renewable Steel and pipeline.
    </li>
    <li>

        o Coded Welding
    </li>
    <li>
        o Profile Cutting, Bending and Folding

    </li>
</ul>