<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container fadeindown animation-duration-3000">
        <div class="flex flex-column gap-6">
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> WELDING AND FABRICATION SERVICES</h1>
                </div>
                <div class="flex flex-column gap-4">
                    <p class="txt-description">
                        <span class="txt-big">
                            ALFA
                        </span>
                        brings extensive expertise in modular project delivery, with a deep understanding of the Lump
                        Sum Turnkey (LSTK) processes. We specialize in providing tailored fabrication and construction
                        strategies, ensuring each project’s unique requirements and objectives are met. By working
                        closely with our clients, we create project execution plans that maximize value and optimize
                        results.
                    </p>
                    <p class="txt-description">
                        All our welders are pre-qualified and ABS/DNV certified, ensuring compliance with the highest
                        industry standards
                    </p>

                </div>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Living Quarters & Technical building Modules</h1>
                </div>
                <div class="flex flex-column gap-4">

                    <p class="txt-description">
                        Fabrication of offshore and onshore ABS/DNV certified pressurized modular accommodation and
                        technical buildings
                    </p>

                </div>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Doors and Windows </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Fabrication of fire and blast rated doors (B, A, H & J Class) –
                            internal and external.
                    <li>

                        Doors, Windows and Hatches
                    </li>
                    <li>

                        Watertight Doors
                    </li>
                    </span>
                    </li>
                    <!-- <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fire and Blast Rated Windows and Hatches
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Watertight Doors
                        </span>
                    </li> -->

                </ul>
            </div>


            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Tanks </h1>
                </div>
                <div class="flex flex-column gap-4">
                    <p class="txt-description">
                        Fabrication of modular oil, water, storage, trip, ballast, fuel, and chemical tanks for marine
                        and offshore applications.
                    </p>
                </div>
            </div>


            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Ductwork </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Design, fabrication and Installation of Ductwork, Dampers,
                            volume, louvres.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Pipe cladding fabrication with insulation for enhanced durability.
                        </span>
                    </li>

                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Piping </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Well test pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            HP pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Mud Pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Gas/Oil Pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Pipe spools
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Accommodation Pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Sea Water/Grey water/Back water/ Fresh water Pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Deck/Cantilever Frain pipeline
                        </span>
                    </li>

                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Outfitting Fabrication </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Platforms
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Walkways
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Gangway
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Ladder / Hatches
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Swing gates
                        </span>
                    </li>

                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Baskets & Racks </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fabricate offshore cargo baskets & cargo carrying units (CCU’s) according to DNV 2.7-1
                            standard.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fabricate acetylene, gas, cascade & oxygen cylinder racks.
                        </span>
                    </li>
                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Muffler & Exhaust system </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fabrication Exhausts & Arrestors and their Accessories such as Gaskets, Exhaust Tip, and
                            Flexible
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fabricate of Catalytic converter, mufflers and its insulation blanket.
                        </span>
                    </li>
                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> Other steel Fabrication </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fabricate and build ABS approved customized steel products
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Onshore Repair and Maintenance Services.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Recondition and renewable Steel and pipeline.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Coded Welding
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Profile Cutting, Bending and Folding
                        </span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>