<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
            <div class="ins-head-box">
                <h1 class="ins-heading"> Accreditations</h1>
            </div>
            <div class="flex flex-column gap-4">
                <p class="txt-big">
                    Our commitment to exceptional quality, stringent safety standards, and value creation has earned us
                    numerous prestigious accreditations and awards, reflecting our international reputation and
                    ambitious
                    corporate vision.
                </p>
            </div>
        </div>
        <owl-carousel-o [options]="carouselOptions">
            <!-- <ng-container *ngFor="let item of items"> -->
            @for (item of items; track item) {
            <ng-template carouselSlide [attr.id]="'slide'">
              <div class="item">
                <img src="{{ item.image }}" />
                <!-- <h3>{{ item.name }}</h3> -->
              </div>
            </ng-template>
            }
            <!-- </ng-container> -->
          </owl-carousel-o>
    </div>
</div>