<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container fadeindown animation-duration-3000">
        <div class="inner-box rounded-4 px-3 xl:p-6">

            <div class="ins-head-box">
                <h1 class="ins-heading"> Accreditations</h1>
            </div>
            <div class="flex flex-column gap-4">
                <p class="txt-big">
                    Our commitment to exceptional quality, stringent safety standards, and value creation has earned us
                    numerous prestigious accreditations and awards, reflecting our international reputation and
                    ambitious
                    corporate vision.
                </p>
            </div>
        </div>
    </div>
</div>