.download-list li a {
    color: #002438;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 14px;
    i {
        font-size: 14px;
    }
}
.download-list li:hover a {
    color: var(--secondaryclr);
}
