<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">Download Centre</h1>
        </div>

        <p class="txt-description mb-4 lg:w-8 lg:m-auto">
            ALFA is a prominent player in the marine, offshore, oil & gas, renewable energy, and defense sectors within
            Saudi Arabia and beyond, renowned for its expertise and commitment to excellence. Discover more about our
            innovative approach, diverse range of services, and forward-looking vision by accessing the latest reports,
            insights, and updates from the ALFA team.
        </p>
        <div class="inner-box rounded-4 p-3 xl:p-6 lg:w-8 lg:ml-auto lg:mr-auto  my-5">
            <h3 class="text-lg font-bold mb-4">Digital Media Toolkit</h3>

            <div class="download-list mb-4">
                <h4 class="text-base font-bold mb-3"> Profile</h4>
                <ul class="list-unstyled">
                    <li><a href="" class="flex align-items-center gap-2 font-bold text-xs"><i
                                class="pi pi-file-pdf"></i> ALFA & Offshore Division Company Profile</a></li>
                </ul>
            </div>
            <div class="download-list  mb-4">
                <h4 class="text-base font-bold mb-3">Logo</h4>
                <ul class="list-unstyled">
                    <li><a href="assets\ALFA LOGO\ALFA LOGO\Variation Size\2x\ALFAALFA FULL LOGO V2.1 COLOR@2x.png" target="_blank" class="flex align-items-center gap-2 font-bold text-xs"><i
                                class="pi pi-file-pdf"></i> Logo</a></li>
                </ul>
            </div>
            <!-- <div class="download-list  mb-4">
                <h4 class="text-base font-bold mb-3">Bio Data</h4>
                <h5 class="text-xs font-bold">ALFA Marine CEO Niels de Bruijn</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="flex align-items-center gap-2 font-bold text-xs"><i
                                class="pi pi-file-pdf"></i> Biography</a>
                    </li>
                    <li><a href="#" class="flex align-items-center gap-2 font-bold text-xs"><i
                                class="pi pi-file-pdf"></i> Photo</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>