<footer class="site-footer">
    <!-- <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2">
                <div>
                    <img src="assets/images/bubbles.png" class="logo img-fluid" alt="">
                </div>

                <ul class="footer-menu d-flex flex-wrap ms-5">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">About Us</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Blog</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Reviews</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-5 col-4 mb-4 mb-lg-0">
                <h5 class="site-footer-title mb-3">Our Services</h5>

                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            House Cleaning
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Car Washing
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Laundry
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Office Cleaning
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Toilet Cleaning
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-4 mb-4 mb-lg-0 mb-md-0">
                <h5 class="site-footer-title mb-3">Office</h5>

                <p class="text-white d-flex mt-3 mb-2">
                    <i class="bi-geo-alt-fill me-2"></i>
                    Akershusstranda 20, 0150 Oslo, Norway
                </p>

                <p class="text-white d-flex mb-2">
                    <i class="bi-telephone-fill me-2"></i>

                    <a href="tel: 110-220-9800" class="site-footer-link">
                        110-220-9800
                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="bi-envelope-fill me-2"></i>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        info&#64;company.com
                    </a>
                </p>

                <ul class="social-icon mt-4">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-twitter"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-facebook"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-4 mt-lg-0 mt-md-0">
                <div class="featured-block">
                    <h5 class="text-white mb-3">Service Hours</h5>

                    <strong class="d-block text-white mb-1">Mon - Fri</strong>

                    <p class="text-white mb-3">8:00 AM - 5:30 PM</p>

                    <strong class="d-block text-white mb-1">Sat</strong>

                    <p class="text-white mb-0">6:00 AM - 2:30 PM</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="grid">
            <div class="col-12 mb-6">
                <header>
                    <a href="#"><img src="assets/images/logos/logo-white.png" class="logo img-fluid"
                            alt="ALFA Group"></a>
                </header>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 lg:col-6">
                <div class="footer-title">
                    <h3>Quick Links</h3>
                </div>
                <app-main-menu></app-main-menu>
                <!-- <ul class="clean units">
                    <li data-brand="dredging-and-marine">
                        <a class="cta blue" href="https://nmdc-dredgingmarine.com/" target="_blank">
                            <svg class="icon blue" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Marine Dredging &amp; Marine</span>
                        </a>
                    </li>

                    <li data-brand="energy">
                        <a class="cta " href="https://www.nmdc-energy.com/" target="_blank">
                            <svg class="icon green" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Energy</span>
                        </a>
                    </li>

                    <li data-brand="engineering">
                        <a class="cta " href="https://www.adecconsult.ae/" target="_blank">
                            <svg class="icon error" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Marine Engineering</span>
                        </a>
                    </li>

                    <li data-brand="construction">
                        <a class="cta " href="https://www.nmdc-construction.com/" target="_blank">
                            <svg class=" icon yellow" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Marine Construction</span>
                        </a>
                    </li>
                </ul> -->

            </div>
            <!-- <div class="col-12 lg:col-6 xl:col-2">
                <ul class="clean sitemap">
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="#"> Who We Are</a> </li>
                    <li> <a href="#">What We Do</a> </li>
                    <li> <a href="#">Sustainability</a> </li>
                    <li> <a href="#">Media Center</a> </li>
                    <li> <a href="#">Contact Us</a> </li>
                </ul>
            </div> -->
            <!-- <div class="col-12 lg:col-12 xl:col-7">
                <div class="grid"> -->

            <!-- <div class="col-12 lg:col-6 xl:col-6">
                        <ul class="clean contact-emails">
                            <li> For general inquiries, please email,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                            <li> For commercial inquiries, please email,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                            <li> For careers, please send your CV to,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                            <li> For vendors registration, send an email,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                        </ul>
                    </div> -->
            <div class="col-12 lg:col-6 xl:col-6">
                <div class="footer-title">
                    <h3>Address</h3>
                </div>
                <address>
                    <div class="flex flex-column flex flex-column gap-3 text-sm">
                        <p class="m-0 flex align-items-center gap-3"> <i class="pi pi-phone text-sm"></i> +966
                            13 805
                            2528 </p>
                        <p class="m-0 flex align-items-center gap-3"> <i class="pi pi-envelope text-sm"></i>
                            info&#64;alfamarinesa.com </p>
                        <p class="m-0 flex align-items-center gap-3"> <i class="pi pi-globe text-sm"></i>
                            www.alfamarinesa.com
                        </p>
                        <p class="m-0 flex gap-3"> <i class="pi pi-map-marker text-sm pt-2"></i>
                            Office No. 19, 3rd Floor, 4855 Building, <br>
                            Prince Mansour streent, <br>
                            Prince Muhammad IBN Saud Dist, Dammam 32241, EP, K.S.A
                        </p>
                        <ul
                            class="social-media clean flex gap-3 justify-content-center lg:justify-content-start pl-0 lg:pl-5 ">
                            <li> <a href="https://www.linkedin.com/company/afla-marine" target="_blank"><i class="pi pi-linkedin"></i> </a> </li>
                            <li> <a href="https://instgram.com/alfa_marine_sa" target="_blank"><i class="pi pi-instagram"></i> </a> </li>
                            <!-- <li> <a href="#" target="_blank"><i class="pi pi-youtube"></i> </a> </li>
                            <li> <a href="#" target="_blank"><i class="pi pi-facebook"></i> </a> </li> -->
                            <li> <a href="https://x.com/alfamarinesa" target="_blank"><i class="pi pi-twitter"></i> </a> </li>
                        </ul>
                    </div>
                </address>
            </div>
            <!-- 
                </div>
            </div> -->

        </div>





        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="flex flex-column xl:flex-row gap-3 lg:justify-content-between">
                            <p class="mb-0 text-xs text-white"> Copyright © 2025-2030, All
                                rights
                                reserved
                                by ALFA Marine</p>
                            <div class="flex gap-3 text-xs">
                                <a href="#" target="_blank" class="text-decoration-underline">Privacy Policy</a>
                                <a href="#" target="_blank" class="text-decoration-underline">Terms & Conditions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="scrollToTop()" class="scroll-to-top">
                <i class="pi pi-arrow-up"></i>
            </button>
        </div>
    </div>
</footer>