.site-footer {
    background-color: #21386d;
}

ul.clean {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cta {
    span {
        color: #fff;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
    }
    &:hover span {
        color: #009de0;
    }
}
footer.site-footer .sitemap a {
    display: inline-flex;
    color: #f2f2f2;
    text-transform: uppercase;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-border-start: 2px solid var(--clr-blue);
    border-inline-start: 2px solid var(--clr-blue);
    transition: 0.2s ease;
    padding-block: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 1rem;
}

footer.site-footer .sitemap a:hover {
    color: #009de0;
    border-color: #009de0;
}
address p,
.social-media a {
    color: #fff;
    transition: 0.3s ease;
    &:hover {
        color: var(--clr-blue);
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

::ng-deep {
    .site-footer {
        app-main-menu .container {
            padding: 0;
        }
        .p-menubar-start {
            display: none;
        }
        .header-menubar p-menubarsub {
            width: unset;
            justify-content: flex-start;
        }
        .header-menubar .p-menubar-root-list {
            flex-direction: column;
            align-items: flex-start;
        }
        .header-menubar {
            // .p-menubar {
            //     padding: 0;
            //     > p-menubarsub
            //         > ul.p-menubar-root-list
            //         > li.p-menubar-item[aria-level="1"]
            //         > .p-menubar-item-content
            //         > a {
            //         color: #fff;
            //     }
            // }
            .p-menubar {
                padding-top: 0;
                > p-menubarsub
                    > ul.p-menubar-root-list
                    > li.p-menubar-item[aria-level="1"]
                    > .p-menubar-item-content:hover
                    > a {
                    color: #21386d;
                }
                > p-menubarsub
                    > ul.p-menubar-root-list
                    > li.p-menubar-item[aria-level="1"]
                    > .p-menubar-item-content:active
                    > a {
                    color: #21386d;
                }
            }
        }
    }
}
@media screen and (min-width: 961px) {
    ::ng-deep {
        .site-footer {
            .header-menubar
                .p-menubar
                > p-menubarsub
                > ul.p-menubar-root-list
                > li.p-menubar-item[aria-level="1"]
                p-menubarsub[ng-reflect-level="1"]
                > .p-menubar-submenu
                > li.p-menubar-item[aria-level="2"]:hover
                p-menubarsub[ng-reflect-level="2"]
                > .p-menubar-submenu {
                display: block !important;
                left: 100%;
                top: unset !important;
                bottom: 0 !important;
            }
            .p-menubar {
                padding: 0;
                > p-menubarsub
                    > ul.p-menubar-root-list
                    > li.p-menubar-item[aria-level="1"]
                    > .p-menubar-item-content
                    > a {
                    color: #fff;
                }
            }
        }
    }
}
.footer-title {
    h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1.75rem;
    }
}
