<footer class="site-footer">
    <!-- <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2">
                <div>
                    <img src="assets/images/bubbles.png" class="logo img-fluid" alt="">
                </div>

                <ul class="footer-menu d-flex flex-wrap ms-5">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">About Us</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Blog</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Reviews</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-5 col-4 mb-4 mb-lg-0">
                <h5 class="site-footer-title mb-3">Our Services</h5>

                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            House Cleaning
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Car Washing
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Laundry
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Office Cleaning
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Toilet Cleaning
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-4 mb-4 mb-lg-0 mb-md-0">
                <h5 class="site-footer-title mb-3">Office</h5>

                <p class="text-white d-flex mt-3 mb-2">
                    <i class="bi-geo-alt-fill me-2"></i>
                    Akershusstranda 20, 0150 Oslo, Norway
                </p>

                <p class="text-white d-flex mb-2">
                    <i class="bi-telephone-fill me-2"></i>

                    <a href="tel: 110-220-9800" class="site-footer-link">
                        110-220-9800
                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="bi-envelope-fill me-2"></i>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        info&#64;company.com
                    </a>
                </p>

                <ul class="social-icon mt-4">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-twitter"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-facebook"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-4 mt-lg-0 mt-md-0">
                <div class="featured-block">
                    <h5 class="text-white mb-3">Service Hours</h5>

                    <strong class="d-block text-white mb-1">Mon - Fri</strong>

                    <p class="text-white mb-3">8:00 AM - 5:30 PM</p>

                    <strong class="d-block text-white mb-1">Sat</strong>

                    <p class="text-white mb-0">6:00 AM - 2:30 PM</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="grid">
            <div class="col-12 mb-6">
                <header>
                    <a href="/en/"><img
                            src="assets\ALFA LOGO\ALFA LOGO\Variation Size\1.5x\ALFAALFA FULL LOGO V2.1 WHITE@1.5x.png"
                            class="logo" alt="NMDC Group"></a>
                </header>
            </div>
            <div class="col-12 lg:col-5">
                <ul class="clean units">
                    <li data-brand="dredging-and-marine">
                        <a class="cta blue" href="https://nmdc-dredgingmarine.com/" target="_blank">
                            <svg class="icon blue" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Marine Dredging &amp; Marine</span>
                        </a>
                    </li>

                    <li data-brand="energy">
                        <a class="cta " href="https://www.nmdc-energy.com/" target="_blank">
                            <svg class="icon green" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">NMDC Energy</span>
                        </a>
                    </li>

                    <li data-brand="engineering">
                        <a class="cta " href="https://www.adecconsult.ae/" target="_blank">
                            <svg class="icon error" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Marine Engineering</span>
                        </a>
                    </li>

                    <li data-brand="construction">
                        <a class="cta " href="https://www.nmdc-construction.com/" target="_blank">
                            <svg class=" icon yellow" aria-hidden="true" focusable="false" data-prefix="fak"
                                data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 640 512" data-fa-i2svg="" style="width: 1.25em;">
                                <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                            </svg>
                            <span class="name">ALFA Marine Construction</span>
                        </a>
                    </li>
                </ul>
            </div>






            <div class="col-12 lg:col-7">
                <div class="grid">
                    <div class="col-12 lg:col-6">
                        <ul class="clean sitemap">
                            <li> <a href="#">Home</a> </li>
                            <li> <a href="#"> Who We Are</a> </li>
                            <li> <a href="#">What We Do</a> </li>
                            <li> <a href="#">Sustainability</a> </li>
                            <li> <a href="#">Media Center</a> </li>
                            <li> <a href="#">Contact Us</a> </li>
                        </ul>
                    </div>
                    <div class="col-12 lg:col-6">
                        <ul class="clean contact-emails">
                            <li> For general inquiries, please email,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                            <li> For commercial inquiries, please email,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                            <li> For careers, please send your CV to,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                            <li> For vendors registration, send an email,
                                <br><a href="mailto:vendors&#64;alfa-group.com">vendors&#64;alfa-group.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>





        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 lg:col-6">
                        <p class="copyright-text mb-0">ALFA Marine Copyright © 2025-2030</p>
                    </div>
                    <div class="col-12 lg:col-6 text-end">
                        <ul class="social-media clean flex flex-column lg:flex-row gap-3 justify-content-end">
                            <li>
                                <a href="#" target="_blank"><svg class="svg-inline--fa fa-linkedin-in icon"
                                        aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                        data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                        </path>
                                    </svg> </a>
                            </li>

                            <li>
                                <a href="#" target="_blank"><svg class="svg-inline--fa fa-instagram icon"
                                        aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram"
                                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                        data-fa-i2svg="">
                                        <path fill="currentColor"
                                            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                        </path>
                                    </svg> </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>