<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">BECOME A SUPPLIER</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                Maintaining a robust and dependable supplier network is integral to our continued success. At ALFA, we
                foster long-lasting relationships with our partners and strive to create an ecosystem where everyone can
                thrive together. Join us to unlock boundless opportunities in the Middle East region and worldwide and
                propel your future growth.
            </p>
            <p class="txt-description">
                Please download the required documents below. These documents must be filled and attached to the <a
                    href="https://www.alfamarinesa.com/supplier-registration" target="_blank">ALFA Supplier Registration
                    Portal</a>.
            </p>
        </div>
    </div>
</div>