<h1>

    ABRASIVE BLASTING AND PAINTING SERVICES
</h1>
<h5>

    We’re capable of handling various projects when it comes to cleaning, surface preparation, and painting. Examples
    include:
</h5>

<ul>
    <li>

        • Sandblasting, painting and specialized coating to protect repair & rebuild.
    </li>
    <li>

        • The expert blasting and painting of decks, pipelines, hatch covers, super structures, cargo tanks, storage
        tanks, and ballast tanks.
    </li>
    <li>

        • Chemical, high pressure, steam washing, & de-mucking of cargo and fuel tanks.
    </li>
    <li>

        • Mechanical Descaling removing sludge and other substances.
    </li>
    <li>
        • Mobile blast units for transport at all locations.

    </li>
    <li>

        • Hydro & grit Blasting.
    </li>
</ul>
<p>
    Abrasive Blasting, Coating & Painting Services. (In house & Onsite)

    Whether you need surface treatments or protection systems, we have the right solution for you. We use advanced
    techniques and equipment to perform abrasive blasting with sand, steel, grit, garnet, black and green diamond, soda,
    and more.
</p>