<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">

        <div class="ins-head-box">
            <h1 class="ins-heading"> ABRASIVE BLASTING AND PAINTING SERVICES</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-big">
                We’re capable of handling various projects when it comes to cleaning, surface preparation, and painting.
                Examples include:
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Sandblasting, painting and specialized coating to protect repair & rebuild.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            The expert blasting and painting of decks, pipelines, hatch covers, super
                            structures, cargo tanks, storage tanks, and ballast tanks.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Chemical, high pressure, steam washing, & de-mucking of cargo and fuel tanks.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Mechanical Descaling removing sludge and other substances.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Mobile blast units for transport at all locations.
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Hydro & grit Blasting.
                        </span>
                    </li>
                </ul>
            </div>
            <p class="txt-description">
                Abrasive Blasting, Coating & Painting Services. (In house & Onsite)
            </p>
            <p class="txt-description">
                Whether you need surface treatments or protection systems, we have the right solution for you. We use
                advanced techniques and equipment to perform abrasive blasting with sand, steel, grit, garnet, black and
                green diamond, soda, and more.
            </p>
        </div>

    </div>
</div>