.dredging-and-marine {
    background-image: url("../../../../../assets/images/dredging-and-marine.png");
    background-size: cover;
    background-position: center;
    min-height: 650px;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;

    .inner-overlay {
        background: rgba(0, 3, 5, 0.4);
        border-radius: 1rem;
        margin: 0 auto;

        

        .inner-overlay-content {
            h3 {
                font-size: 1.25rem;
                line-height: 2rem;
                font-weight: 800;
            }

            p {
                margin: 0;
            }
        }
    }
}
.section-header {
    h2 {
        font-family: "Montserrat-Arabic", sans-serif;
        font-weight: 800;
        font-size: clamp(2rem, 3vw, 2.5rem);
        text-transform: uppercase;
        line-height: 1em;
    }
}
.cta:not(button),
a.cta {
    color: #fff;
}

button.cta:not(.active) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f2f2f2 !important;
}

button.cta:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.projectimg-list {
    li {
        >div {
            height: 107px;

            img {
                width: 100%;
                border-radius: 1rem;
                height: 107px;
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
            }
        }

        h3 {
            font-size: 13px;
            line-height: 1.25em;
            font-weight: normal;
            margin-top: 1em;
            color: #fff;
            font-weight: 900;
            font-family: "Montserrat-Arabic", sans-serif;
            min-height: 40px;
            display: flex;
            align-items: center;
        }

        p {
            font-size: 13px;
            line-height: 1.25em;
            margin-top: 1em;
            color: #fff;
        }

        .cta:not(button) .icon,
        .cta:not(button) svg,
        a.cta .icon,
        a.cta svg {
            color: unset;
        }
    }
}

.heading:hover {
    color: var(--clr-blue);
}