.dredging-and-marine {
    background-image: url("../../../../../assets/images/dredging-and-marine.png");
    background-size: cover;
    background-position: center;
    min-height: 650px;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
    .inner-overlay {
        background: rgba(0, 3, 5, 0.4);
        border-radius: 1rem;
        margin: 0 auto;
        .section-header {
            h2 {
                font-size: 1rem;
                margin: 0;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 1em;
            }
        }
        .inner-overlay-content {
            h3 {
                font-size: 1.25rem;
                line-height: 2rem;
                font-weight: 800;
            }
            p {
                margin: 0;
            }
        }
    }
}

.cta:not(button),
a.cta {
    color: #fff;
}
button.cta:not(.active) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f2f2f2 !important;
}
button.cta:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.3);
}
