<section class="dredging-and-marine">
    <div class="container py-3">
        <div class="inner-overlay py-5 px-8 text-white">
            <header class="section-header">
                <h2 class="text-white mb-4">Business Units</h2>
            </header>
            <div
                class="inner-overlay-content content active flex flex-column lg:flex-row align-items-center gap-4 mb-5">
                <header class="content-header">
                    <img src="../../../../assets/ALFA LOGO/ALFA LOGO/Variation Size/1.5x/ALFAALFA FULL LOGO V2.1 COLOR@1.5x.png"
                        alt="" class="logo">
                </header>
                <div class="wrap text-white flex flex-column gap-3">
                    <h3 class="text-white">ALFA Marine Dredging &amp; Marine</h3>
                    <p>Leading the field of marine dredging, reclamation, and construction, ALFA Dredging &amp; Marine
                        delivers
                        projects of superior quality. With years of international experience, we are known for our
                        exceptional
                        track
                        record and commitment to generating true value for all stakeholders. </p>

                    <p>
                        <a href="https://nmdc-dredgingmarine.com/" class="cta" target="_blank">
                            <svg class="svg-inline--fa fa-square-up-right w-1rem" aria-hidden="true" focusable="false"
                                data-prefix="fass" data-icon="square-up-right" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M0 32l448 0 0 448L0 480 0 32zM320 320l0-160-160 0-16 16 52 52-84 84 56 56 84-84 52 52 16-16z">
                                </path>
                            </svg> Visit Website
                        </a>
                    </p>
                </div>
            </div>

            <div class="flex align-items-center justify-content-between gap-3 w-full flex-wrap">
                <button class="cta active" data-tab="dredging-and-marine" data-brand="dredging-and-marine">
                    <svg class="icon blue" aria-hidden="true" focusable="false" data-prefix="fak" data-icon="nmdc-slab"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""
                        style="width: 1.25em;">
                        <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                    </svg>
                    <span class="name">ALFA Marine Dredging &amp; Marine</span>
                </button>
                <button class="cta" data-tab="energy" data-brand="energy">
                    <svg class="icon green" aria-hidden="true" focusable="false" data-prefix="fak" data-icon="nmdc-slab"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""
                        style="width: 1.25em;">
                        <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                    </svg>
                    <span class="name">ALFA Energy</span>
                </button>
                <button class="cta" data-tab="engineering" data-brand="engineering">
                    <svg class="icon error" aria-hidden="true" focusable="false" data-prefix="fak" data-icon="nmdc-slab"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""
                        style="width: 1.25em;">
                        <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                    </svg>
                    <span class="name">ALFA Engineering</span>
                </button>
                <button class="cta" data-tab="construction" data-brand="construction">
                    <svg class="icon yellow" aria-hidden="true" focusable="false" data-prefix="fak"
                        data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
                        data-fa-i2svg="" style="width: 1.25em;">
                        <path fill="currentColor" d="M96 329L544 0V188.4L96 512V329z"></path>
                    </svg>
                    <span class="name">ALFA Construction</span>
                </button>
            </div>


        </div>
    </div>
</section>