
<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading"> LIVING QUARTERS REFURBISHMENT, UPGRADE & CONVERSION</h1>
        </div>

        <div class="flex flex-column gap-4">

            <p class="txt-big">
                Living Quarters Repair, Refurbishment, Recertification & Outfitting Our technicians meticulously
                maintain
                our extensive fleet of Units and also provide these services for our clients. We can repair, remodel and
                refurbish existing facilities to extend their life or outfit the interiors for new construction. These
                services can be performed dockside or on an offshore platform or vessel. We can provide complete EPC
                services for repair or modernization of entire living quarters or individual rooms. Our team can design,
                plan, procure materials, and construct in any location globally.
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Initial walk-through/site survey/inspection</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Recommendations for life extension, feasibility, and AFE
                            development</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Detailed engineering and design</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Material procurement, deconstruction, construction</span>
                    </li>
                </ul>
            </div>
            <p class="txt-big">
                ALFA MARINE is an EPC Contractor (Engineering, Procurement and Construction) With skilled management and
                trades personnel worldwide. Working extensively across the offshore refurbishment and outfitting market.
                Architectural Outfitting, HVAC & Refrigeration, Electrical, Instrumentation and Piping for the Marine,
                Offshore, Defense, Oil and Gas sectors. From the outfitting of individual rooms to the upgrade and
                refurbishment of entire living quarters, our teams design, engineer and procure all materials prior to
                travelling to conduct on-site installation on assets globally.
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Survey, inspection & feasibility studies</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Planning, conception, design & engineering, 3D modelling.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Deconstruction, preparation, material supply, assembly, and
                            installation.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Service, maintenance, and spare parts</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Project, quality, and safety management</span>
                    </li>
                </ul>
            </div>

            <p class="txt-big">
                From the outfitting of individual rooms to the upgrade and refurbishment of entire living quarters, on
                new build or modernization of assets globally.
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Cabins</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Mess Rooms</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Galleys</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Laundry</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Offices</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Recreation Rooms </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Corridors - Passageways </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Washrooms </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Work Rooms </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Stairs & Stairwells </span>
                    </li>
                </ul>
            </div>

            <p class="txt-big">
                Turnkey upgrades of FPSO’s, marine vessels, rigs, offshore platforms, barges and support vessels with
                scopes
                including:
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Paneling – Walls, partitions & bulkheads - lightweight,
                            decorative,
                            acoustic, wet area, safety & fire rated (B, A & H)</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Ceiling - lightweight, acoustic & fire rated. </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Shading – HDPE FR Fabric</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Flooring – Marine & fire rated screeds, A60 deck and cassette
                            systems, underfloor heating, access flooring, decorative epoxy, vinyl & rubber, ceramic
                            tiles,
                            carpet, and anti-slip safety flooring</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Doors - Internal and external, fire rated, (B, A & H)</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Windows – Internal and external, fire rated (B, A & H),
                            hatches.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Furniture - Supply and manufacture of bespoke joinery &
                            furniture</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Wet Units – Prefabricated, fully fitted modular wet units and
                            bathrooms. </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Galley & Laundry - Equipment </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Locker Room - Furniture & equipment </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Soft Furnishings, Black Out Blinds & Curtain </span>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>