<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading"> LIVING QUARTERS REFURBISHMENT</h1>
        </div>

        <div class="flex flex-column gap-4">

            <p class="txt-big">
                ALFA offers end-to-end solutions for the refurbishment, upgrade, repair, and conversion of living
                quarters to meet evolving operational needs across the marine, offshore oil & gas, renewable energy, and
                defense sectors. Our expertise ensures the transformation or maintenance of facilities with precision,
                quality, and adherence to global standards. These services can be performed dockside or on an offshore
                platform or vessel.
            </p>

            <p class="txt-description">
                <span class="txt-big">Comprehensive Services</span><br>
                We deliver fully integrated Lump Sum Turnkey (LSTK) services, handling every aspect of project
                execution,
                from initial assessments to final installations:
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Inspection and Feasibility Studies:</span>
                            Comprehensive site surveys, condition assessments, and feasibility analyses
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Engineering and Design:</span>
                            Advanced conceptualization, detailed engineering, and 3D modeling for optimized
                            solutions.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Material Procurement and Construction:</span>
                            High-quality material supply, deconstruction, and meticulous construction processes.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Life Extension and Recertification:</span>
                            Recommendations for extending the operational life of facilities and ensuring compliance
                            with industry standards.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Service and Maintenance:</span>
                            Ongoing support, spare parts, and regular upkeep.</span>
                    </li>
                </ul>
            </div>
            <p class="txt-description">
                <span class="txt-big">Specialized Capabilities</span><br>
                Our expertise extends to architectural outfitting, HVAC & refrigeration, electrical, instrumentation,
                and
                piping systems. We handle both individual room outfitting and full-scale refurbishments for facilities,
                including:
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">

                    <li class="col-12 lg:col-6">
                        <span class="txt-big">Turnkey Conversions and Upgrades:</span>
                        <ul class="row">
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Service and Maintenance:</span>
                                    Insulation: Thermal, acoustic, and fire-rated solutions for walls, ceilings, and
                                    floors.</span>
                            </li>
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Paneling:</span>
                                    Lightweight, decorative, wet area, acoustic, and fire-rated options (B, A & H
                                    classifications).</span>
                            </li>
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Ceilings and Flooring:</span>
                                    Fire-rated ceilings, decorative epoxy, vinyl, ceramic tiles, anti-slip safety
                                    flooring, and more.</span>
                            </li>
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Doors and Windows:</span>
                                    Internal and external fire-rated installations (B, A & H classifications).</span>
                            </li>
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Furniture and Modular Units:</span>
                                    Bespoke joinery, bathrooms units, and locker room setups.</span>
                            </li>
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Galley and Laundry Equipment:</span>
                                    Efficient installations tailored to operational needs.</span>
                            </li>
                            <li class="col-12 lg:col-12">
                                <span class="txt-description">
                                    <span class="txt-big">Soft Furnishings and Shading:</span>
                                    Blackout blinds, curtains, and HDPE fire-resistant shading materials.</span>
                            </li>
                        </ul>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Living Quarters:</span>
                            Cabins, mess rooms, galleys, offices, recreation rooms, laundry, washrooms, corridors, and
                            stairwells</span>
                    </li>
                    <!-- <li class="col-12 lg:col-6">
                        <span class="txt-description">Deconstruction, preparation, material supply, assembly, and
                            installation.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Service, maintenance, and spare parts</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Project, quality, and safety management</span>
                    </li> -->
                </ul>
            </div>
            <h4>Applications</h4>
            <p class="txt-big">
                Our services are tailored for a wide range of assets, including:
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description"> FPSOs</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description"> Marine Vessels</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description"> Offshore Platforms</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Barges and Support Vessels</span>
                    </li>
                    <!-- <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Offices</span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Recreation Rooms </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Corridors - Passageways </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Washrooms </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Work Rooms </span>
                    </li>
                    <li class="col-12 xl:col-4 lg:col-6">
                        <span class="txt-description">Stairs & Stairwells </span>
                    </li> -->
                </ul>
            </div>

            <p class="txt-big">
                With a commitment to excellence and safety, ALFA delivers innovative, cost-effective, and
                client-specific solutions that extend the life, functionality, and compliance of living quarters in
                challenging environments.
            </p>
            <!-- <div class="inner-box rounded-4 px-3 xl:p-6">
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Paneling – Walls, partitions & bulkheads - lightweight,
                            decorative,
                            acoustic, wet area, safety & fire rated (B, A & H)</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Ceiling - lightweight, acoustic & fire rated. </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Shading – HDPE FR Fabric</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Flooring – Marine & fire rated screeds, A60 deck and cassette
                            systems, underfloor heating, access flooring, decorative epoxy, vinyl & rubber, ceramic
                            tiles,
                            carpet, and anti-slip safety flooring</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Doors - Internal and external, fire rated, (B, A & H)</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Windows – Internal and external, fire rated (B, A & H),
                            hatches.</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Furniture - Supply and manufacture of bespoke joinery &
                            furniture</span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Wet Units – Prefabricated, fully fitted modular wet units and
                            bathrooms. </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Galley & Laundry - Equipment </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description"> Locker Room - Furniture & equipment </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">Soft Furnishings, Black Out Blinds & Curtain </span>
                    </li>

                </ul>
            </div> -->

        </div>
    </div>
</div>