<h1>

    LIVING QUARTERS REFURBISHMENT, UPGRADE & CONVERSION
</h1>

<p>

    Living Quarters Repair, Refurbishment, Recertification & Outfitting
    Our technicians meticulously maintain our extensive fleet of Units and also provide these services for our clients.
    We can repair, remodel and refurbish existing facilities to extend their life or outfit the interiors for new
    construction. These services can be performed dockside or on an offshore platform or vessel.
    We can provide complete EPC services for repair or modernization of entire living quarters or individual rooms. Our
    team can design, plan, procure materials, and construct in any location globally.
</p>
<ul>
    <li>
        • Initial walk-through/site survey/inspection

    </li>
    <li>
        • Recommendations for life extension, feasibility, and AFE development

    </li>
    <li>
        • Detailed engineering and design

    </li>
    <li>
        • Material procurement, deconstruction, construction

    </li>
</ul>
<p>
    ALFA MARINE is an EPC Contractor (Engineering, Procurement and Construction) With skilled management and trades
    personnel worldwide. Working extensively across the offshore refurbishment and outfitting market.

    Architectural Outfitting, HVAC & Refrigeration, Electrical, Instrumentation and Piping for the Marine, Offshore,
    Defense, Oil and Gas sectors.

    From the outfitting of individual rooms to the upgrade and refurbishment of entire living quarters, our teams
    design, engineer and procure all materials prior to travelling to conduct on-site installation on assets globally.

</p>
<ul>
    <li>
        • Survey, inspection & feasibility studies
        
    </li>
    <li>
        • Planning, conception, design & engineering, 3D modelling.
        
    </li>
    • Deconstruction, preparation, material supply, assembly, and installation.
    <li>
        
        • Service, maintenance, and spare parts
    </li>
    <li>
        • Project, quality, and safety management

    </li>
</ul>
<p>

    From the outfitting of individual rooms to the upgrade and refurbishment of entire living quarters, on new build or
    modernization of assets globally.
</p>
<ul>
    <li>
        
        • Cabins
    </li>
    <li>
        
        • Mess Rooms
    </li>
    <li>
        
        • Galleys
    </li>
    <li>
        
        • Laundry
    </li>
    <li>

        • Offices
    </li>
    <li>
        
        • Recreation Rooms
    </li>
    <li>
        • Corridors - Passageways
        
    </li>
    <li>
        • Washrooms
        
    </li>
    <li>
        • Work Rooms
        
    </li>
    <li>
        
        • Stairs & Stairwells
    </li>
</ul>
<p>

    Turnkey upgrades of FPSO’s, marine vessels, rigs, offshore platforms, barges and support vessels with scopes
    including:
</p>
<ul>
    <li>


        • Paneling – Walls, partitions & bulkheads - lightweight, decorative, acoustic, wet area, safety & fire rated
        (B, A & H)
    </li>
    <li>

        • Ceiling - lightweight, acoustic & fire rated.
    </li>
    <li>

    </li>
    <li>

        • Shading – HDPE FR Fabric
    </li>
    <li>

        • Flooring – Marine & fire rated screeds, A60 deck and cassette systems, underfloor heating, access flooring,
        decorative epoxy, vinyl & rubber, ceramic tiles, carpet, and anti-slip safety flooring
    </li>
    <li>

        • Doors - Internal and external, fire rated, (B, A & H)
    </li>
    <li>

        • Windows – Internal and external, fire rated (B, A & H), hatches.
    </li>
    <li>

        • Furniture - Supply and manufacture of bespoke joinery & furniture
    </li>
    <li>

        • Wet Units – Prefabricated, fully fitted modular wet units and bathrooms.
    </li>
    <li>

        • Galley & Laundry - Equipment
    </li>
    <li>

        • Locker Room - Furniture & equipment
    </li>
    <li>
        • Soft Furnishings, Black Out Blinds & Curtain

    </li>
</ul>