<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
            <h1 class="ins-heading">CAREERS</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
                Life at ALFA, we are committed to unlocking the full potential of our team members and guiding them
                toward exceptional career success. Our culture is rooted in respect, empathy, and inclusivity, ensuring
                that every individual feels valued and empowered to reach their professional development goals.
            </p>
            <p class="txt-description" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
                Joining ALFA means becoming an integral part of a dynamic organization renowned for excellence across
                various industries. If you're passionate about shaping the future of the marine, offshore, oil & gas,
                renewable energy, and defense sectors, take the next step in your career with us and be part of a team
                that strives for continuous growth and innovation.
            </p>
            <p class="txt-description" style="text-align: center;" data-aos="fade-up" data-aos-delay="300"
                data-aos-duration="800">
                <a href="mailto:hr@alfamariesa.com" class="button primary cta">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#2c95d2"
                            d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z" />
                    </svg>
                    Contact us
                </a>
            </p>
        </div>
    </div>
</div>