<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container xl:pt-4">
        <div class="ins-head-box">
            <h1 class="ins-heading text-3xl">You can contact us via the below email and phone</h1>
        </div>
        <div class="grid">
            <div class="col-12 xl:col-4 xl:p-4">
                <div class="flex flex-column gap-5">
                    <div
                        class="icon-box-wrapper bg-primaryclr icon-box-wrapper p-4 rounded-3 text-white flex align-items-center gap-3">
                        <div
                            class="icon-box-style bg-secondaryclr w-3rem h-3rem border-circle flex align-items-center justify-content-center">
                            <i class="pi pi-phone text-white"></i>
                        </div>

                        <div class="icon-box-body">
                            <h3 class="title m-0 text-white text-xl">Our Phone</h3>
                            <p class="icon-box-description m-0">+966 13 805 2528</p>
                        </div>
                    </div>
                    <div
                        class="icon-box-wrapper bg-primaryclr icon-box-wrapper  p-4 rounded-3 text-white flex align-items-center gap-3">
                        <div
                            class="icon-box-style bg-secondaryclr w-3rem h-3rem border-circle flex align-items-center justify-content-center">
                            <i class="pi pi-phone text-white"></i>
                        </div>
                        <div class="icon-box-body">
                            <h3 class="title m-0 text-white text-xl">Our Mobile</h3>
                            <p class="icon-box-description">+966 13 805 2528</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 xl:col-4 xl:p-4">
                <div
                    class="icon-box-wrapper bg-secondaryclr icon-box-wrapper p-4 rounded-3 text-white flex gap-3 h-100">
                    <div
                        class="icon-box-style bg-primaryclr icon-box-style w-3rem h-3rem border-circle flex align-items-center justify-content-center">
                        <i class="pi pi-phone text-white"></i>
                    </div>

                    <div class="icon-box-body flex-1">
                        <h3 class="title m-0 text-white text-xl mb-2">Our Location</h3>
                        <p class="icon-box-description m-0"> Office No. 19, 3rd Floor, 4855 Building,
                            Prince Mansour streent,
                            Prince Muhammad IBN Saud Dist, Dammam 32241, EP, K.S.A</p>
                    </div>
                </div>
            </div>
            <div class="col-12 xl:col-4 xl:p-4">
                <div class="icon-box-wrapper bg-primaryclr icon-box-wrapper p-4 rounded-3 text-white flex gap-3 h-100">
                    <div
                        class="icon-box-style bg-secondaryclr w-3rem h-3rem border-circle flex align-items-center justify-content-center">
                        <i class="pi pi-phone text-white"></i>
                    </div>

                    <div class="icon-box-body flex-1">
                        <h3 class="title m-0 text-white text-xl mb-2">Our Email</h3>
                        <p class="icon-box-description m-0">info&#64;alfamarinesa.com</p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="map-container my-4">
                    <!-- <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9907.617759469044!2d0.1407057652391294!3d51.57611102287667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a57b6548a8b9%3A0x67afef9d0b5ae39d!2s321-323%20High%20Rd%2C%20Romford%20RM6%206AX%2C%20UK!5e0!3m2!1sen!2suk!4v1696951576296!5m2!1sen!2suk"
                        width="600" height="450" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="w-100 border-0">
                    </iframe> -->

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3570.041063578049!2d50.10327631503274!3d26.41807758328995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e49fce2a8b1e6d5%3A0x3a7f5a3e3b3b3b3b!2sOffice%20No.%2019%2C%203rd%20Floor%2C%204855%20Building%2C%20Prince%20Mansour%20Street%2C%20Prince%20Muhammad%20IBN%20Saud%20Dist%2C%20Dammam%2032241%2C%20Eastern%20Province%2C%20Saudi%20Arabia!5e0!3m2!1sen!2suk!4v1696951576296!5m2!1sen!2suk"
                        width="600" height="450" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="w-100 border-0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>