<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">HEALTH, SAFETY & ENVIRONMENTAL (HSE) POLICY</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                ALFA is dedicated to providing a safe and secure workplace for employees, clients, contractors, suppliers/vendors, and visitors across all facilities and project sites. We believe that through collaboration with clients and partners, occupational risks and environmental impacts can be effectively prevented. ALFA is committed to protecting people, property, and communities, preventing pollution, and upholding the highest industrial standards for safety, health, and environmental sustainability in all its operations.
            </p>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <p class="txt-description">
                    To achieve this, the Company pledges to:
                </p>

                <ul class="flex flex-column gap-4">
                    <li>
                        <span class="txt-big"> Promote Awareness and Accountability</span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Ensure all employees and visitors understand their
                                    responsibilities regarding health, safety, and environmental protection.
                                </span>
                            </li>
                            <li>
                                <span class="txt-description">
                                    Regularly measure and review their performance to maintain
                                    compliance and drive improvement.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">Risk and Impact Management </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Identify, assess, and mitigate health, safety, and environmental risks before
                                    commencing any operation or activity.
                                </span>
                            </li>
                            <li>
                                <span class="txt-description">
                                    Continuously review and update risk management practices in line with applicable
                                    laws, regulations, and standards.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big"> Clear Communication</span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Regularly communicate health, safety, and environmental objectives, policies, and
                                    procedures to employees and all stakeholders.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">Training and Resource Provision </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Provide employees with necessary education, resources, and training to ensure
                                    competence in their roles, including HSE accountability.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">Best Practices in Facility Design </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Design and construct facilities based on recognized best practices to safeguard
                                    people, property, and the environment.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big"> Safe Facility Operations</span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Operate and maintain facilities in a manner that ensures the health and safety of
                                    all employees, clients, suppliers, contractors, and visitors.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">HSE Adherence for Third Parties </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Require contractors, suppliers, and visitors to adhere to the Company’s HSE
                                    policies, procedures, and objectives.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">Emergency Preparedness </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Maintain readiness for emergencies and respond promptly and effectively to incidents
                                    or accidents arising from project operations.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">Incident Reporting and Review </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Ensure all incidents are reported, investigated, and analyzed to drive continuous
                                    improvement and performance transparency.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big">Community Health and Safety Promotion </span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Foster awareness and practices that enhance health and safety beyond the workplace,
                                    supporting the community at large.

                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="txt-big"> Continuous Improvement</span>
                        <ul>
                            <li>
                                <span class="txt-description">
                                    Regularly review, analyze, and enhance the Company’s HSE programs and performance to
                                    ensure ongoing progress.
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p class="txt-description">By adhering to these principles, ALFA Marine aims to achieve operational
                    excellence while prioritizing the safety, health, and environmental sustainability of all its
                    stakeholders.</p>
            </div>

        </div>
    </div>
</div>