<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container fadeindown animation-duration-3000">
        <div class="flex flex-column gap-6">
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">OUR MISSION</h1>
                </div>
                <p class="txt-description">
                    At ALFA, we are committed to delivering tailored engineering, procurement, fabrication, and
                    construction solutions that go beyond expectations. By integrating cutting-edge technologies,
                    certified expertise, and a steadfast commitment to quality, we aim to forge long-term partnerships.
                    Our mission extends beyond project execution to actively contribute to the advancement of industries
                    we serve while upholding sustainability and innovation.
                </p>
            </div>
            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">OUR VISION</h1>
                </div>
                <p class="txt-description">

                    To become the premier provider of innovative and sustainable engineering solutions across the
                    <b>marine, offshore, oil & gas, renewable energy, and defense sectors.</b> ALFA envisions setting new
                    benchmarks for quality, safety, cost-effectiveness, and flexibility, establishing our name as a
                    symbol of excellence both in Saudi Arabia and on the global stage.
                </p>

            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">OUR GOALS</h1>
                </div>
                <p class="txt-description">
                    Consistently provide high-quality solutions that adhere to global standards. Building enduring
                    relationships through tailored solutions that meet and exceed customer expectations. Implement
                    environmentally responsible practices in all operations to promote sustainable growth and minimize
                    ecological impact. Continuously improve our services and solutions through technological
                    advancements and expertise. Strengthening our market presence by expanding our capabilities and
                    reaching new sectors and regions.
                </p>
            </div>
        </div>
    </div>

</div>



<!-- <h1> OUR MISSION</h1> -->