<h1>

    ARCHITECTURAL, HVAC, ELECTRICAL, PLUMBING, & CARPENTRY
</h1>
<p>
    ALFA MARINE provides reliable and high-quality architectural outfitting services for offshore and marine projects.
    Whether you need design and (EPC) engineering, procurement and construction and commission, or repair, conversion,
    new build, or renovation/refurbishment and upgrade of living quarters and technical buildings, we have the expertise
    and experience to deliver.

    We offer a wide range of solutions in the areas of architectural, HVAC, electrical and plumbing, customized to suit
    your specific requirements and standards. Our services include:

</p>


<ul>
    <li><strong>ARCHITECTURAL</strong>
        <ul>
            <li>Insulation: A60 / A30 / A1 wool insulation, thermal jackets insulation & ceramic fiber insulation.</li>
            <li>Wall / Ceiling Paneling: fireproof B15 and B0 wall paneling system.</li>
            <li>Flooring: cement-based, self-level compound, epoxy flooring finish & vinyl flooring.</li>
            <li>Doors: with or without port hole class approved and fire-rated product (B0/B15, A0/A60, H60/H120,
                Ballistic / blast rated).</li>
            <li>Windows: class approved and fire-rated product (A0/A60, H60/H120, Ballistic / Blast rated).</li>
        </ul>
    </li>
    <li><strong>HVAC</strong>
        <ul>
            <li>Duct and pipe insulation cladding.</li>
            <li>HVAC conditioning.</li>
            <li>Refrigeration system.</li>
            <li>HVAC duct work.</li>
            <li>HVAC duct cleaning & TR integrity testing.</li>
        </ul>
    </li>
    <li><strong>ELECTRICAL</strong>
        <ul>
            <li>Power distribution.</li>
            <li>Lighting systems.</li>
            <li>Switchgear and control gear.</li>
            <li>ELV systems.</li>
            <li>CCTV systems.</li>
            <li>PA/GA.</li>
        </ul>
    </li>
    <li><strong>PLUMBING</strong>
        <ul>
            <li>Black and Grey pipeline.</li>
            <li>Fresh and Hot water pipeline.</li>
            <li>Potable water pipeline.</li>
            <li>Sanitary ware.</li>
        </ul>
    </li>
    <li><strong>CARPENTRY</strong>
        <ul>
            <li>Custom made furniture for all areas in Accommodation units.</li>
            <li>Bunk Beds.</li>
            <li>Cupboards.</li>
            <li>Office Stations.</li>
            <li>Tables.</li>
            <li>Curtains.</li>
            <li>Cabinets.</li>
            <li>Countertops.</li>
        </ul>
    </li>
</ul>