<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading"> ARCHITECTURAL, HVAC, ELECTRICAL, PLUMBING, & CARPENTRY</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                <span class="txt-big">
                    ALFA MARINE
                </span>
                provides reliable and high-quality architectural outfitting services for offshore and marine projects
                Whether you need design and (EPC) engineering, procurement and construction and commission, or repair,
                conversion, new build, or renovation/refurbishment and upgrade of living quarters and technical
                buildings, we have the expertise and experience to deliver We offer a wide range of solutions in the
                areas of architectural, HVAC, electrical and plumbing, customized to suit your specific requirements and
                standards Our services include:
            </p>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> ARCHITECTURAL </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Insulation:</span> A60 / A30 / A1 wool insulation, thermal jackets
                            insulation & ceramic fiber insulation
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big"> Wall / Ceiling Paneling:</span> fireproof B15 and B0 wall paneling
                            system
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big"> Flooring: </span> cement-based, self-level compound, epoxy flooring
                            finish & vinyl flooring
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big"> Doors:</span> with or without port hole class approved and fire-rated
                            product (B0/B15, A0/A60, H60/H120, Ballistic / blast rated)
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            <span class="txt-big">Windows:</span> class approved and fire-rated product (A0/A60,
                            H60/H120, Ballistic / Blast rated)
                        </span>
                    </li>

                </ul>
            </div>

            <div class="rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> HVAC </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Duct and pipe insulation cladding
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            HVAC conditioning
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Refrigeration system
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            HVAC duct work
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            HVAC duct cleaning & TR integrity testing
                        </span>
                    </li>

                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> ELECTRICAL </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Power distribution
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Lighting systems
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Switchgear and control gear
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            ELV systems
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            CCTV systems
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            PA/GA
                        </span>
                    </li>
                </ul>
            </div>

            <div class="rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> PLUMBING </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Black and Grey pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Fresh and Hot water pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Potable water pipeline
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Sanitary ware
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            CCTV systems
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            PA/GA
                        </span>
                    </li>
                </ul>
            </div>

            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> CARPENTRY </h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Custom made furniture for all areas in Accommodation units
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Bunk Beds
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Cupboards
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Office Stations
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Tables
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Curtains
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Cabinets
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Countertops
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>