::ng-deep {
    .header-menubar {
        .p-menubar-item-content {
            // color: #fff;
        }
        .p-menubar-root-list {
            gap: 0.5rem;
        }
        .header-logo {
            width: 200px;
            max-width: 100%;
        }
        .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link {
            font-size: 15px;
            font-weight: 600;
        }
        .p-menubar-mobile .p-menubar-button {
            position: absolute;
            right: 0;
            color: #fff;
            .p-icon {
                width: 1.75rem;
                height: 1.75rem;
            }
        }
    }
}
