.about-main-banner {
    align-items: center;
    color: inherit;
    text-decoration: none;
    gap: 0.75rem;
    font-weight: 600;
    transition: 0.2s ease;
}

.my-5 a {
    color: white;
}

::ng-deep {
    .header-menubar {
        .p-menubar {
            width: 100%;
            gap: 2rem;
            background: transparent;
            border: 0;
            padding-top: 2rem;
        }
    }
}

/* Add background image to the banner */
.banner-image {
    background-image: url("../../../../assets/images/banner-image-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 730px;
    position: relative;
    padding-bottom: 2rem;
}

/* Add the overlay layer */
.banner-image::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #eeeeee 19%, rgba(0, 36, 56, 0.08));
    mix-blend-mode: multiply;
    pointer-events: none;
}
/* Make the menu absolute */
.header-menubar {
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
}

/* Additional styling for the logo if needed */
.logo {
    max-height: 50px;
}

.cd-headline {
    font-weight: 800;
    font-size: clamp(2rem, 3vw, 2.5rem);
    text-transform: uppercase;
    line-height: 1em;
    font-family: "Montserrat-Arabic", sans-serif;
    span {
    }
    span + span {
        color: #25e5ff;
    }
}
.hero-section {
    p {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 1.5px;
    }
}
.cta:not(button):not(.button):hover,
a.cta:not(.button):hover {
    color: #7ad7ff;
}
.cta:not(button):not(.button):hover svg,
a.cta:not(.button):hover svg {
    color: #002438;
}
