.header-top {
    background-color: #1e376c;
    ul li a {
        color: #fff;
        display: flex;
        align-items: center;
        &:hover {
            color: var(--secondaryclr);
        }
    }
    button {
        background-color: var(--secondaryclr);
        color: #fff;
        padding: 0.25rem 1.25rem;
        border: 1px solid var(--secondaryclr);
        font-size: 0.75rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        a {
            color: #fff;
            &:hover {
                background-color: var(--primaryclr);
            }
        }
        &:hover {
            background-color: var(--primaryclr);
            border: 1px solid #fff;
        }
    }
}

.banner-image {
    background-image: url("../../../../assets/images/HomePage-Image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 730px;
    position: relative;
    padding-bottom: 2rem;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, #eeeeee 19%, rgba(0, 36, 56, 0.04));
        mix-blend-mode: multiply;
        pointer-events: none;
    }
}

.cd-headline {
    font-weight: 800;
    font-size: clamp(2rem, 3vw, 2.5rem);
    text-transform: uppercase;
    line-height: 1em;
    font-family: "Montserrat-Arabic", sans-serif;

    span {
    }

    span + span {
        color: var(--secondaryclr);
    }
}

.text-secondaryclr {
    color:#ffff;
}

.hero-section {
    p {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 1.5px;
    }
}

.cta:not(button):not(.button):hover,
a.cta:not(.button):hover {
    color: #7ad7ff;
}

.cta:not(button):not(.button):hover svg,
a.cta:not(.button):hover svg {
    color: #002438;
}
