<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="index.html">
            <img src="../../../../assets/ALFA LOGO/ALFA LOGO/Variation Size/1.5x/ALFAALFA FULL LOGO V2.1 COLOR@1.5x.png"
                class="logo img-fluid" alt> <span class="ms-2">ALFA MARINE</span> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"> <a class="nav-link active" href="index.html">Home</a> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Who We Are <i class="pi pi-angle-down"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li> <a class="dropdown-item" href="services.html">About ALFA</a> </li>
                        <li> <a class="dropdown-item" href="services.html"> Mission and Vision </a> </li>
                        <li> <a class="dropdown-item" href="coming-soon.html">Leadership</a> </li>
                        <li> <a class="dropdown-item" href="page-404.html">Our Culture</a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">What We Do </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="services.html">Our Solutions</a> </li>
                        <li><a class="dropdown-item" href="coming-soon.html">Our Core Services</a> </li>
                        <li><a class="dropdown-item" href="page-404.html">Our Product / Supplies</a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Contanct Us </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="services.html">Commercial Inquiries </a> </li>
                        <li><a class="dropdown-item" href="coming-soon.html">Become a Supplier </a> </li>
                        <li><a class="dropdown-item" href="page-404.html">Speak UP</a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Sustainability </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Environmental Responsibility </a> </li>
                        <li><a class="dropdown-item" href="#"> Health, Safety & Environmental Policy </a> </li>
                        <li><a class="dropdown-item" href="#">Quality Assurance Policy </a> </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#section_5" id="navbarLightDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Media </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">News </a> </li>
                        <li><a class="dropdown-item" href="#">Gallery </a> </li>
                        <li><a class="dropdown-item" href="#">Download </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<main>
    <div class="banner-image">
        <app-main-menu></app-main-menu>

        <div class="container hero-section">
            <div class="row">
                <div class="col-12 lg:col-7">
                    <h1
                        class="cd-headline text-secondaryclr mb-4 pb-2 animate__animated animate__fadeIn flex flex-column gap-2 lg:gap-1">
                        <span>
                            <div>WHERE SUSTAINABILITY &</div>
                        </span>
                        <span>
                            EXCELLENCE CONVERGE
                        </span>
                    </h1>
                    <!-- <p class="text-white">
                        ALFA Marine & Offshore Division as a part of ALFA Group is a leading ISO certified company based
                        in Saudi Arabia, specializing. We specialize in (EPFC) Engineering, Procurement, Fabrication and
                        Construction.
                    </p>
                    <p class="my-5">

                        <a routerLink="/about-alfa" class="cta">
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false"
                                data-prefix="fass" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                                </path>
                            </svg> About Us </a>
                    </p> -->
                </div>

            </div>
        </div>
    </div>
</main>