<section class="intro-section animate__animated animate__fadeInUp animate__delay-2s" id="intro-section">
  <div class="container">
    <div class="py-7">
      <h2 class="branded slab slab-bg centered"> About Us </h2>
      <p class="txt-big">ALFA Marine & Offshore Division as a part of ALFA Group is a leading ISO certified company
        based in Saudi Arabia, specializing. We specialize in (EPFC) Engineering, Procurement, Fabrication and
        Construction. </p>
      <p class="mt-4">Our services include and not limited to Design, Engineering, Procurement, Construction &
        Commissioning are Welding and fabrication, Abrasive Blasting and Painting, Architectural, HVAC, Electrical,
        Plumbing, & Carpentry, Thermal and Acoustic Insulation Services.</p>
      <p class="mt-4">ALFA provides comprehensive solutions in building various types of Modular buildings, (Living
        Quarters Refurbishment, Upgrade & Conversion solutions), Repair & Maintenance of HVAC, Piping & Electrical
        Systems, Rig & Ship Repair solutions that comply with industry standards such as ATEX, IECEx, NORSOK, NFPA, AWS
        or any other specific requirements. Our units are custom-made and certified by independent experts such as ABS,
        BV, DNV, Lloyd’s, or others. We can build in our facility or onsite buildings with cost-effective and quality
        solutions. We are committed to delivering bespoke engineering solutions that exceed client expectations while
        upholding the highest standards of quality and certification.</p>
      <p class="text-center my-5">
        <a routerLink="/about-alfa" class="cta button px-4">
          <svg class="svg-inline--fa fa-nmdc-slab fa-kit icon slab" aria-hidden="true" focusable="false"
            data-prefix="fak" data-icon="nmdc-slab" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"
            data-fa-i2svg="" style="width: 2.25em;">
            <path fill="#009de0" d="M96 329L544 0V188.4L96 512V329z"></path>
          </svg>
          Read More About ALFA
        </a>

      </p>
    </div>
  </div>
</section>

<app-business-section></app-business-section>

<app-latest-projects></app-latest-projects>

<app-qhse-world-section></app-qhse-world-section>

<app-careers-section></app-careers-section>

<app-our-clients></app-our-clients>


<!-- <app-news-latest-section></app-news-latest-section> -->