h2 {
  font-weight: 800;
  font-size: clamp(2rem, 3vw, 2.5rem);
  text-transform: uppercase;
  line-height: 1em;
}
.centered {
  margin-inline: auto;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.branded.slab,
[data-brand].slab {
  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  gap: 1em;
  min-height: 100px;
  font-family: "Montserrat-Arabic", sans-serif;
}
.branded.slab-bg.centered::before,
[data-brand].slab-bg.centered::before {
  left: 50%;
  margin: 0;
}
.branded.slab-bg::before,
[data-brand].slab-bg::before {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-margin-start: 16px;
  margin-inline-start: 16px;
  z-index: -1;
}
.branded.slab::before,
[data-brand].slab::before {
  content: "";
  display: block;
  height: 80px;
  aspect-ratio: 140 / 160;
  background-image: url("../../../../assets/images/slab-aqua.svg");
  background-size: cover;
}
@media (min-width: 1040px) {
  .branded.slab::before,
  [data-brand].slab::before {
    height: 140px;
  }
}
@media (min-width: 1040px) {
  .branded.slab::before,
  [data-brand].slab::before {
    height: 100px;
  }
}
.button.cta:hover, button.cta:hover {
  background-color: var(--_surface-hover);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}