<!-- <app-loader *ngIf="isLoading"></app-loader> -->

<section class="intro-section" id="intro-section">
  <div class="container" data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
    <div class="py-7">

      <div class="ins-head-box">
        <h1 class="ins-heading"> About Us </h1>
      </div>
      <p class="txt-big"><b>ALFA & Offshore Division</b>, a proud part of the ALFA Group, stands as a leading
        ISO-certified
        company headquartered in Saudi Arabia. We are renowned for our expertise in <b>Lump Sum Turnkey (LSTK)
          Projects,</b>
        tailored to the marine, offshore, oil & gas, renewable energy, and defense sectors.</p>
      <p class="mt-4 txt-big">With a strong commitment to excellence and innovation, ALFA provides state-of-the-art
        modular
        building solutions. These services meet rigorous industry standards ATEX, IECEx, NORSOK, NFPA, AWS or
        any other specific requirements. We collaborate with globally recognized certification bodies, including
        ABS, BV, DNV, and Lloyd's, ensuring the highest levels of safety and quality.
      <p class="mt-4 txt-big">At ALFA, our mission is to create bespoke <b>engineering solutions </b>that not only meet
        but
        exceed client expectations, all while fostering sustainable practices and adhering to the strictest quality
        benchmarks.</p>
        <p class="text-center mt-3">
          <a routerLink="/environmental-responsibility" class="button primary cta">
              <svg class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false"
                  data-prefix="fass" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512" data-fa-i2svg="">
                  <path fill="currentColor"
                      d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                  </path>
              </svg>
              Read More
          </a>
      </p>
      <!-- <div class="ins-head-box">
        <a routerLink="/about-alfa" class="cta button px-4">
          <h1 class="ins-heading sm"> Read More </h1>
        </a>
      </div> -->
    </div>
  </div>
</section>

<app-business-section></app-business-section>

<app-latest-projects></app-latest-projects>

<app-qhse-world-section></app-qhse-world-section>
<app-leadership-section></app-leadership-section>
<app-careers-section></app-careers-section>

<app-our-clients></app-our-clients>


<!-- <app-news-latest-section></app-news-latest-section> -->