<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">About ALFA</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-big">
                ALFA & Offshore Division, a proud part of the ALFA Group, stands as a leading ISO-certified company headquartered in Saudi Arabia. We are renowned for our expertise in Lump Sum Turnkey (LSTK) Projects, tailored to the marine, offshore, oil & gas, renewable energy, and defense sectors.
            </p>
            <!-- <p class="txt-description">
                ALFA provides comprehensive solutions in building various types of Modular buildings, (Living Quarters
                Refurbishment, Upgrade & Conversion solutions), Repair & Maintenance of HVAC, Piping & Electrical
                Systems,
                Rig &
                Ship Repair solutions that comply with industry standards such as ATEX, IECEx, NORSOK, NFPA, AWS or any
                other
                specific requirements. Our units are custom-made and certified by independent experts such as ABS, BV,
                DNV,
                Lloyd’s,
                or others. We can build in our facility or onsite buildings with cost-effective and quality solutions.
                We
                are
                committed to delivering bespoke engineering solutions that exceed client expectations while upholding
                the
                highest
                standards of quality and certification.
            </p> -->
        </div>
    </div>
</div>