<h1>About ALFA</h1>
<p>

    ALFA Marine & Offshore Division as a part of ALFA Group is a leading ISO certified company based in Saudi Arabia,
    specializing. We specialize in (EPFC) Engineering, Procurement, Fabrication and Construction.

    Our services include and not limited to Design, Engineering, Procurement, Construction & Commissioning are Welding
    and fabrication, Abrasive Blasting and Painting, Architectural, HVAC, Electrical, Plumbing, & Carpentry, Thermal and
    Acoustic Insulation Services.


    ALFA provides comprehensive solutions in building various types of Modular buildings, (Living Quarters
    Refurbishment, Upgrade & Conversion solutions), Repair & Maintenance of HVAC, Piping & Electrical Systems, Rig &
    Ship Repair solutions that comply with industry standards such as ATEX, IECEx, NORSOK, NFPA, AWS or any other
    specific requirements. Our units are custom-made and certified by independent experts such as ABS, BV, DNV, Lloyd’s,
    or others. We can build in our facility or onsite buildings with cost-effective and quality solutions. We are
    committed to delivering bespoke engineering solutions that exceed client expectations while upholding the highest
    standards of quality and certification.
</p>