<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="flex flex-column gap-6">
            <div class="inner-box rounded-4 px-3 py-5 xl:p-6" data-aos="fade-up" data-aos-delay="200"
                data-aos-duration="800">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Building a Sustainable Future, Together </h1>
                </div>
                <p class="txt-description">
                    At ALFA, we foster a culture that empowers our employees to innovate and be the best version of
                    themselves. Our working environment is built on a foundation of mutual respect, support, and a
                    strong commitment to teamwork and innovation. Together, we are continuously evolving to meet the
                    demands of the industry, shaping the future marine, offshore, oil & gas, renewable energy, and
                    defense sectors for the better.
                </p>
            </div>
            <div class="inner-box rounded-4 px-3 py-5 xl:p-6" data-aos="fade-up" data-aos-delay="300"
                data-aos-duration="800">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Culture and Values </h1>
                </div>
                <p class="txt-description">
                    ALFA is defined by a strong and cohesive company culture that prioritizes collaboration,
                    sustainability, and responsibility. We strive to create a working environment where everyone can
                    thrive, maintaining a zero-tolerance approach to discrimination while offering limitless training
                    and development opportunities. We take great pride in our people and work hard to nurture their
                    growth and success.
                </p>
                <p class="txt-description">
                    Our core values guide everything we do, ensuring that sustainability and responsibility are embedded
                    into our daily operations, whether on-site, in the office, or in the boardroom. Every decision we
                    make is aligned with our purpose to drive positive change.
                </p>
            </div>
            <div class="inner-box rounded-4 px-3 py-5 xl:p-6" data-aos="fade-up" data-aos-delay="400"
                data-aos-duration="800">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">FOR OUR COMMUNITY </h1>
                </div>
                <p class="txt-description">
                    We are committed to cultivating strong relationships with local partners and organizations,
                    providing our employees with meaningful opportunities to give back through volunteering and
                    community involvement. We also prioritize the employment of KSA nationals, the use of local
                    suppliers, and a range of initiatives designed to support and uplift the communities in which we
                    operate.
                </p>
            </div>
            <div class="inner-box rounded-4 px-3 py-5 xl:p-6" data-aos="fade-up" data-aos-delay="500"
                data-aos-duration="800">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">FOR OUR PEOPLE</h1>
                </div>
                <p class="txt-description">
                    Our people are the cornerstone of our success, and we are dedicated to providing comprehensive
                    learning and development opportunities that empower everyone to reach their full potential. At ALFA,
                    we believe in equal opportunities for all and respect the diverse backgrounds and perspectives our
                    team members bring. This inclusive environment is key to fostering creativity and ensuring everyone
                    can contribute to our collective success.
                </p>
            </div>

            <!-- <div class="ins-head-box">
                <h1 class="ins-heading"> Our Offices and Facilities </h1>
            </div> -->


            <div class="inner-box rounded-4 px-3 py-5 xl:p-6" data-aos="fade-up" data-aos-delay="600"
                data-aos-duration="800">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> ALFA strategy </h1>
                </div>

                <!-- <div class="inner-box rounded-4 px-3 py-5 xl:p-6"> -->
                <p class="txt-description">
                    At ALFA, we are committed to delivering differentiated and competitive products and solutions to the
                    energy
                    sector, creating sustainable value across all aspects of our operations.
                </p><br>
                <h4 class="txt-description"><b>Strategic Focus</b></h4>
                <p class="txt-description">Our strategy emphasizes profitable and sustainable growth, ensuring maximum
                    value for
                    our stakeholders, shareholders, customers, and employees.</p>
                <br>
                <h4 class="txt-description"><b>Core Strategic Pillars</b></h4>

                <!-- <div class="">
                    <h4 class="">Core Strategic Pillars</h4>

                </div> -->
                <ul class="list-unstyled flex flex-column gap-4">
                    <li>
                        <span class="txt-big">Business Growth </span>
                        <br>
                        <span class="txt-description">Expanding our market presence and operational capabilities to meet
                            evolving industry demands.</span>
                    </li>
                    <li>
                        <span class="txt-big"> <b>Differentiation through Innovation & Digital Transformation</b></span>
                        <br>
                        <span class="txt-description"> Leveraging cutting-edge technologies and innovative solutions to
                            set new
                            industry benchmarks</span>
                    </li>
                    <li>
                        <span class="txt-big"><b> Transitioning to a Sustainable Future</b></span>
                        <br>
                        <span class="txt-description"> Championing environmentally conscious practices and solutions to
                            drive a
                            responsible and resilient energy transition.</span>
                    </li>
                </ul>
                <!-- </div> -->

            </div>
        </div>
    </div>