<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="flex flex-column gap-6">
            <div class="inner-box rounded-4 p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Our Culture </h1>
                </div>
                <p class="txt-description">
                    Building a Sustainable Future, Together We foster a culture that empowers our employees to develop
                    novel solutions and be the best they can be. Our working environment is built on a foundation of
                    mutual respect and support and driven by teamwork and innovation. Together, we are continually
                    evolving to meet the demands of the industry and shaping the world of marine & offshore,
                    construction and EPC for the better.
                </p>
            </div>
            <div class="inner-box rounded-4 p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Culture and Values </h1>
                </div>
                <p class="txt-description">
                    ALFA is defined by a strong and cohesive company culture. We strive to cultivate a working
                    environment where everyone can thrive. From maintaining a zero-tolerance approach to discrimination
                    to providing boundless training and development opportunities, we take care of our people. We also
                    endeavor to engage our employees in our core values, ensuring sustainability and responsibility is
                    embedded into the day to day. Whether on-site, in the office, or in the boardroom, we live our
                    purpose at every moment
                </p>
            </div>
            <div class="inner-box rounded-4 p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">For Our Community </h1>
                </div>
                <p class="txt-description">
                    We cultivate strong relationships with local partners and organizations, providing our employees
                    with opportunities to give back and volunteer. We also prioritize the employment of KSA nationals,
                    the use of local suppliers, and a wide range of additional measures designed to give back to the
                    communities we operate in.
                </p>
            </div>
            <div class="inner-box rounded-4 p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">For Our People </h1>
                </div>
                <p class="txt-description">
                    Our people are critical to our success, so we take care to provide a wide range of learning and
                    development opportunities to enable everyone to reach their full potential. At ALFA, everyone is
                    given equal opportunities and respected for the unique background and perspective they bring to the
                    team.
                </p>
            </div>

            <div class="ins-head-box">
                <h1 class="ins-heading"> Our Offices and Facilities </h1>
            </div>


            <div class="inner-box rounded-4 p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm"> ALFA strategy </h1>
                </div>
                <p class="txt-description">
                    ALFA aims to offer differentiated, competitive products and solutions to the Energy Industry,
                    generating sustainable value. Our strategy is focused on profitable, sustainable growth that would
                    bring the utmost value to our stakeholders, shareholders, customers, and people.
                </p>
            </div>
            <div class="inner-box rounded-4 p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Our strategy is structured around three pillars: </h1>
                </div>
                <ul class="flex flex-column gap-4">
                    <li>
                        <span class="txt-description">Business Growth </span>
                    </li>
                    <li>
                        <span class="txt-description"> Differentiation (Innovation & Digital) </span>
                    </li>
                    <li>
                        <span class="txt-description"> Transitioning into a Sustainable Future. </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>