<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading sm"> Core Values</h1>
        </div>
        <div class="">
            <ul class="flex flex-column gap-4">
                <li class="txt-description">
                    <span class="txt-big"> Safety </span> -
                    <span class="txt-description"> We live by a “Strive to zero harm” motto.</span>
                </li>
                <li class="txt-description">
                    <span class="txt-big"> Quality </span> -
                    <span class="txt-description">Exceed the expectations of the customer. </span>
                </li>
                <li class="txt-description">
                    <span class="txt-big"> Teamwork </span> -
                    <span class="txt-description">We believe in creating an interdependent team culture to ensure safe,
                        successful and on-time delivery
                        of projects. </span>
                </li>
                <li class="txt-description">
                    <span class="txt-big"> Integrity </span> -
                    <span class="txt-description">We conduct all transactions with a high degree of discipline, honesty
                        and to the highest standards
                        of integrity </span>
                </li>
                <li class="txt-description">
                    <span class="txt-big"> Customer Focused </span> -
                    <span class="txt-description">We are dedicated to achieving customer satisfaction through
                        exceptional process control. </span>
                </li>
                <li class="txt-description">
                    <span class="txt-big"> Cost Competitiveness </span> -
                    <span class="txt-description"> We deliver reliable cost competitive solutions to marine, oil & gas
                        and renewable energy
                        markets.</span>
                </li>
            </ul>
        </div>
    </div>
</div>