<h1>

    Core Values
</h1>
<ul>
    <li>Safety – We live by a “Strive to zero harm” motto.</li>
    <li>Quality – Exceed the expectations of the customer.</li>
    <li>Teamwork – We believe in creating an interdependent team culture to ensure safe, successful and on-time delivery
        of projects.</li>
    <li>Integrity – We conduct all transactions with a high degree of discipline, honesty and to the highest standards
        of integrity</li>
    <li>Customer Focused – We are dedicated to achieving customer satisfaction through exceptional process control.</li>
    <li>Cost Competitiveness – We deliver reliable cost competitive solutions to marine, oil & gas and renewable energy
        markets.</li>
</ul>