<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
            <h1 class="ins-heading"> Core Values</h1>
        </div>

        <ul class="flex flex-column gap-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
            <li>
                <span class="txt-big"><b> OUR PEOPLE</b> </span> <br>
                <span class="txt-description"> We take the safety and well-being of our people seriously and provide our
                    people with growth opportunities and partners with them to unleash our collective potential.</span>
            </li>
            <li>
                <span class="txt-big"><b> ACCOUNTABILITY </b></span> <br>
                <span class="txt-description">We have the courage to take full responsibility for our actions at all
                    levels and set clear targets, empowers our people, and holds them accountable. </span>
            </li>
            <li>
                <span class="txt-big"> <b>COLLABORATION </b></span> <br>
                <span class="txt-description">We works together to reflect the “Power of One” and create synergies and
                    minimize organizational boundaries and works across them effectively. </span>
            </li>
            <li>
                <span class="txt-big"> <b>TRUST & INTEGRITY</b> </span> <br>
                <span class="txt-description">Trust is the foundation of our relationships with our clients, our
                    partners, our people, and our communities. We never compromise on our professional and ethical
                    principles. </span>
            </li>
            <li>
                <span class="txt-big"> <b>EXCELLENCE </b></span><br>
                <span class="txt-description">We deliver value to our clients through rigorous planning and disciplined
                    execution and hedge against complacency by reflecting critically on our business practices. </span>
            </li>
            <li>
                <span class="txt-big"> <b>PARTNERSHIPS</b> </span><br>
                <span class="txt-description"> The partnerships we have developed with colleagues, customers, and
                    suppliers are essential to our success. We will continue to strengthen these relationships and build
                    new partnerships to ensure our future.</span>
            </li>
        </ul>

    </div>
</div>