<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading sm"> Leadership</h1>
        </div>

        <ol class="flex flex-column gap-4">
            <li>
                <span class="txt-big"> THAMER BA JUNAID </span>
                <span class="txt-description"> (MANAGING DIRECTOR) </span>
            </li>
            <li>
                <span class="txt-big"> ABDULLAH ALLAUDDIN </span>
                <span class="txt-description"> (CEO) </span>
            </li>
            <li>
                <span class="txt-big">MOHAMMAD SAKR </span>
                <span class="txt-description"> (PROJECT DIRECTOR) </span>
            </li>
            <li>
                <span class="txt-big"> RIZWAN ISHAQ </span>
                <span class="txt-description"> ( TECHNICAL DIRECTOR) </span>
            </li>
            <li>
                <span class="txt-big"> MOHAMMAD WAQAR </span>
                <span class="txt-description"> (COMMERIAL MANAGAER) </span>
            </li>
            <li>
                <span class="txt-big"> ILIYAS BUTT </span>
                <span class="txt-description"> (SALES MANAGER) </span>
            </li>
            <li>
                <span class="txt-big"> NAEEM ZAHID </span>
                <span class="txt-description"> (HEAD OF BUSINESS DEVELEOPMENT AND MARKETING) </span>
            </li>
            <li>
                <span class="txt-big"> SHEHROZ KHAN </span>
                <span class="txt-description"> (HEAD OF PROCURMENT AND SUPPLY CHAIN) </span>
            </li>
            <li>
                <span class="txt-big"> ABC </span>
                <span class="txt-description"> (QHSE MANAGER) </span>
            </li>



        </ol>
    </div>
</div>