<!-- <ol class="flex flex-column gap-4">
            <li>
                <span class="txt-big"> THAMER BA JUNAID </span>
                <span class="txt-description"> (MANAGING DIRECTOR) </span>
            </li>
            <li>
                <span class="txt-big"> ABDULLAH ALLAUDDIN </span>
                <span class="txt-description"> (CEO) </span>
            </li>
            <li>
                <span class="txt-big">MOHAMMAD SAKR </span>
                <span class="txt-description"> (PROJECT DIRECTOR) </span>
            </li>
            <li>
                <span class="txt-big"> RIZWAN ISHAQ </span>
                <span class="txt-description"> ( TECHNICAL DIRECTOR) </span>
            </li>
            <li>
                <span class="txt-big"> MOHAMMAD WAQAR </span>
                <span class="txt-description"> (COMMERIAL MANAGAER) </span>
            </li>
            <li>
                <span class="txt-big"> ILIYAS BUTT </span>
                <span class="txt-description"> (SALES MANAGER) </span>
            </li>
            <li>
                <span class="txt-big"> NAEEM ZAHID </span>
                <span class="txt-description"> (HEAD OF BUSINESS DEVELEOPMENT AND MARKETING) </span>
            </li>
            <li>
                <span class="txt-big"> SHEHROZ KHAN </span>
                <span class="txt-description"> (HEAD OF PROCURMENT AND SUPPLY CHAIN) </span>
            </li>
            <li>
                <span class="txt-big"> ABC </span>
                <span class="txt-description"> (QHSE MANAGER) </span>
            </li>



        </ol>  -->
<div class="px-3 lg:px-0 py-8">
    <div class="container fadeindown animation-duration-3000">
        <div class="ins-head-box">
            <h1 class="ins-heading"> Leadership</h1>
        </div>
        <div class="row mt-3">

            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="THAMER BA JUNAID"
                            title="THAMER BA JUNAID">
                        <div class="management-team-title">
                            <h4>THAMER BA JUNAID</h4>
                            <span>MANAGING DIRECTOR (MD)</span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="ABDULLAH ALLAUDDIN"
                            title="ABDULLAH ALLAUDDIN">
                        <div class="management-team-title">
                            <h4>ABDULLAH ALLAUDDIN</h4>
                            <span>Chief Executive Officer (CEO)</span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="MOHAMMAD SAKR"
                            title="MOHAMMAD SAKR">
                        <div class="management-team-title">
                            <h4>MOHAMMAD SAKR</h4>
                            <span>PROJECT DIRECTOR (PD)</span>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="RIZWAN ISHAQ"
                            title="RIZWAN ISHAQ">
                        <div class="management-team-title">
                            <h4>RIZWAN ISHAQ</h4>
                            <span>TECHNICAL DIRECTOR (TD)</span>

                        </div>
                    </a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="MOHAMMAD WAQAR"
                            title="MOHAMMAD WAQAR">
                        <div class="management-team-title">
                            <h4>MOHAMMAD WAQAR</h4>
                            <span>COMMERIAL MANAGAER (CM)</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="ILIYAS BUTT"
                            title="ILIYAS BUTT">
                        <div class="management-team-title">
                            <h4>ILIYAS BUTT</h4>
                            <span>SALES MANAGER (SM)</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="NAEEM ZAHID"
                            title="NAEEM ZAHID">
                        <div class="management-team-title">
                            <h4>NAEEM ZAHID</h4>
                            <span>HEAD OF BUSINESS DEVELEOPMENT AND MARKETING (HBDM)</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="SHEHROZ KHAN"
                            title="SHEHROZ KHAN">
                        <div class="management-team-title">
                            <h4>SHEHROZ KHAN</h4>
                            <span>HEAD OF PROCURMENT AND SUPPLY CHAIN (HPS)</span>

                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                <div class="management-team-wrapper">
                    <a href="#">
                        <div class="black-gradient-mask"></div>
                        <div class="border-process"></div>
                        <img src="assets/images/leadership-imgs/user-placeholder-1.png" alt="ABC" title="ABC">
                        <div class="management-team-title">
                            <h4>ABC</h4>
                            <span>QHSE MANAGER (QHSE MANAGER)</span>

                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>