<h1>

    Leadership
</h1>

<ul>
    <li>
        1. THAMER BA JUNAID (MANAGING DIRECTOR)

    </li>
    <li>
        2. ABDULLAH ALLAUDDIN (CEO)

    </li>
    <li>
        3. MOHAMMAD SAKR (PROJECT DIRECTOR)

    </li>
    <li>
        4. RIZWAN ISHAQ ( TECHNICAL DIRECTOR)

    </li>
    <li>
        5. MOHAMMAD WAQAR (COMMERIAL MANAGAER)

    </li>
    <li>
        6. ILIYAS BUTT (SALES MANAGER)

    </li>
    <li>
        7. NAEEM ZAHID (HEAD OF BUSINESS DEVELEOPMENT AND MARKETING)

    </li>
    <li>

        8. SHEHROZ KHAN (HEAD OF PROCURMENT AND SUPPLY CHAIN)
    </li>
    <li>

        9. ABC (QHSE MANAGER)
    </li>

</ul>