.png-button.png-button-solid {
    .p-button {
        .p-button-label {
            font-weight: 400;
        }
    }
}

.png-button.png-button-solid.p-button {
}

.png-button.png-button-outline.p-button {
    background-color: #fff;
    border: 1px solid var(--primaryclr);
    color: var(--primaryclr);
    .p-button-label {
        font-weight: 400;
    }
    .p-button-icon {
        font-size: 14px;
    }
}

.png-btn-text .p-button {
    .p-button-label {
        font-weight: 400;
    }
    &:hover {
    }
    .p-button-icon {
        font-size: 14px;
    }
}
.png-button.png-button-solid-danger {
    background-color: #e12d39 !important;
    color: #fff !important;
    border: 1px solid #e12d39 !important;
}

.png-button.png-button-outline-danger {
    background-color: #fff !important;
    color: #e12d39 !important;
    border: 1px solid #e12d39 !important;
}

.png-button.png-button-outline-danger.p-button:enabled:hover {
    background-color: #e12d39 !important;
    color: #fff !important;
    border: 1px solid #e12d39 !important;
}

.icon.blue {
    color: var(--clr-blue) !important;
}
.icon.green {
    color: var(--clr-green) !important;
}
.icon.yellow {
    color: var(--clr-yellow) !important;
}

.icon.error {
    color: var(--clr-error) !important;
}

.cta:not(button),
a.cta {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    gap: 0.75rem;
    font-weight: 500;
    transition: 0.2s ease;
    font-size: 15px;
}
.cta:not(button) .icon,
.cta:not(button) svg,
a.cta .icon,
a.cta svg {
    transition: 0.2s ease;
    color: #f2f2f2;
    position: unset;
    font-size: 1rem;
    line-height: 1rem;
    height: 1em;
}
