<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">Environmental Responsibility</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-big">
                Protecting the Environment for a Sustainable Future
            </p>
            <p class="txt-description">
                At ALFA, we understand the urgent environmental challenges facing the world today, including climate
                change, resource depletion, waste management, and pollution. These issues not only impact our daily
                lives but also influence the way we do business. In response to these challenges, we are committed to
                implementing sustainable practices that reduce our environmental footprint and contribute to a healthier
                planet.
            </p>
            <p class="txt-description">
                Environmental responsibility is a cornerstone of our operations. We actively work to preserve natural
                resources, minimize waste, and reduce the environmental impact of our services, products, and
                activities. Our culture of sustainability drives continuous innovation, operational efficiency, and a
                commitment to preserving the environment for future generations.
            </p>
            <p class="txt-description">
                Our Environmental Management System, certified to the ISO 14001:2015 standard, guides our efforts to
                systematically assess and manage our environmental impact. We prioritize responsible resource use,
                energy efficiency, and waste minimization, focusing on reuse and recycling wherever possible.
            </p>
            <p class="txt-description">
                We engage our employees, contractors, and stakeholders in promoting environmental stewardship and raise
                awareness about the importance of protecting the environment. Our goal is to prevent pollution, reduce
                emissions, and incorporate sustainable materials in the design and delivery of our products and services
            </p>
            <p class="txt-description">
                Through our Green Products Initiative, we aim to integrate environmentally friendly materials, systems,
                and solutions into every aspect of our offerings, ensuring that the post-delivery impact on the
                environment is minimized.
            </p>

        </div>
    </div>
</div>