<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading">Environmental Responsibility</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-big">
                Protect the environment for a better tomorrow
            </p>
            <p class="txt-description">
                Climate change, energy crisis, depletion of natural resources, waste management and increasing pollution
                of land, water and air is affecting the way we live and do business. Environmental legislations and
                protocols are driving our actions to make improvements in the workplace and preserve a higher quality of
                living and working conditions.
            </p>
            <p class="txt-description">
                Environmental protection is a fundamental business endeavor at Specialist Services. We make every effort
                to nurture the environment, preserve natural resources and minimize the impact of our products,
                activities and services on the environment. Our culture of environmental responsibility makes us think
                creatively, constantly innovate and be more efficient.
            </p>
            <p class="txt-description">
                Our Environment Management initiatives are based on systematic environmental impact assessments, which
                form the basis of our Environmental Management System certified to ISO 14001:2015 standard.
            </p>
            <p class="txt-description">
                We constantly communicate about the importance of environmental protection to our people, contractors
                and other stakeholders. We use resources and energy in a responsible manner and reuse or recycle where
                possible. We are committed to managing waste effectively, prevent pollution, use environmentally
                friendly material and apply our technical abilities to reduce our environmental footprint, particularly
                in the design and engineering of our products.
            </p>
            <p class="txt-description">
                With our “Green Products Initiative” we aim to integrate sustainable approaches, materials and systems
                into our products and services, so that the post-delivery impact on the environment due to our products
                and services is also minimized.
            </p>

        </div>
    </div>
</div>