<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading"> Thermal and Acoustic Insulation Services</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                <span class="txt-big">
                    ALFA MARINE
                </span>
                provides a complete range of thermal and acoustic installation protection for pipe work and fittings,
                valves, ductwork, heat exchangers, boilers, vessels, and tanks in a variety of high and low temperature
                applications.
            </p>

            <p class="txt-description">
                We specialize in the installation and removal of thermal insulation protection systems of any
                composition, for hot or cold systems, corrosion prevention, process heat conservation, noise reduction,
                waterproofing, and personnel protection.
            </p>

            <p class="txt-description">
                Insulation installation and maintenance are a critical element in the reliability, operational
                integrity, energy efficiency, process optimization, and safety of an industrial processing plant.
            </p>

            <div class="inner-box rounded-4 px-3 xl:p-6">

                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Duck & Pipe Insulation
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Thermal Jackets Insulation
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Equipment Insulation
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Bulkhead and Deckhead Insulation
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>