<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container">
        <div class="ins-head-box">
            <h1 class="ins-heading"> Thermal and Acoustic Insulation Services</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                <span class="txt-big">
                    ALFA
                </span>
                offers a comprehensive range of thermal and acoustic insulation solutions tailored to protect pipework,
                fittings, valves, ductwork, heat exchangers, boilers, vessels, and tanks across various high- and
                low-temperature applications.
                Our expertise extends to the installation and removal of thermal insulation protection systems, ensuring
                optimal performance for:

            </p>

            <div class="inner-box rounded-4 px-3 xl:p-6">

                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Corrosion prevention
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Process heat conservation
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Noise reduction
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Waterproofing
                        </span>
                    </li>
                    <li class="col-12 lg:col-6">
                        <span class="txt-description">
                            Personnel protection
                        </span>
                    </li>
                </ul>
                <p class="txt-description">
                    These insulation services are critical to maintaining reliability, enhancing operational integrity,
                    boosting energy efficiency, optimizing processes, and ensuring the safety of industrial processing
                    plants.
                </p>
            </div>




            <div class="inner-box rounded-4 px-3 xl:p-6">
                <div class="ins-head-box">
                    <h1 class="ins-heading"> Our Services Include</h1>
                </div>
                <ul class="row">
                    <li class="col-12 lg:col-6">
                        <p class="txt-description">
                            <span class="txt-big">
                                Duct and Pipe Insulation:
                            </span>
                            Precision installation of insulation systems for ducts and pipes, ensuring thermal
                            efficiency and energy conservation

                        </p>
                    </li>
                    <li class="col-12 lg:col-6">
                        <p class="txt-description">
                            <span class="txt-big">
                                Thermal Jacket Insulation:
                            </span>
                            Custom-designed thermal jackets for equipment requiring flexibility, durability, and
                            high-performance insulation.
                        </p>
                    </li>
                    <li class="col-12 lg:col-6">
                        <p class="txt-description">
                            <span class="txt-big">
                                Equipment Insulation:
                            </span>
                            Comprehensive insulation solutions for industrial equipment to maintain operational safety
                            and efficiency.
                        </p>
                    </li>
                    <li class="col-12 lg:col-6">
                        <p class="txt-description">
                            <span class="txt-big">
                                Bulkhead and Deckhead Insulation:
                            </span>
                            Specialized insulation for bulkheads and deckheads to ensure soundproofing and thermal
                            regulation in marine and offshore environments.
                        </p>
                    </li>
                </ul>
                <p class="txt-description">
                    At ALFA, we deliver advanced insulation solutions designed to meet the most stringent industrial and
                    marine standards, ensuring optimal protection and performance for your operations
                </p>
            </div>
        </div>
    </div>
</div>