<!-- <video class="video-background" autoplay muted loop>
    <source src="assets/images/landing-vid.mp4" mute type="video/mp4">
    Your browser does not support the video tag.
</video> -->
<!-- <div class="video-background">
    <img src="assets/images/construction-img.jpg" alt="">
</div> -->
<!-- <div class="main">
    <div class="container">
        <div class="section left">
            <h1 class="outline_head">ALFA MARINE</h1>
            <a href="#" class="button" routerLink="/home">Our Capabilities</a>
        </div>
        <div class="section right">
            <img src="assets\ALFA LOGO\ALFA LOGO\Variation Size\1x\ALFAALFA BADGE W NAME V2.1 WHITE1x.png" alt="">
        </div>
        <div class="section right">
            <h1 class="outline_head">INDUSTRAIL DIVISON</h1>
            <a href="#" class="button">Featured Projects</a>
        </div>
    </div>
</div> -->

<div class="split-screen">
    <!-- Left Section -->
    <div class="left-section">
        <div class="content">
            <p>Welcome to the Left Section</p>
            <a class="button primary cta" (click)="navigateToOtherPage()">
                <svg class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false" data-prefix="fass"
                    data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                    </path>
                </svg>
                Website
            </a>
        </div>
    </div>

    <!-- Right Section -->
    <div class="right-section">
        <div class="content">
            <p>Welcome to the Right Section</p>
            <a class="button primary cta">
                <svg class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false" data-prefix="fass"
                    data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                    </path>
                </svg>
                Website
            </a>
        </div>
    </div>

    <!-- Arrow Image -->
    <!-- <div class="arrow-image">
        <img class="arrow-image" src="../../assets/images/split-logo-dark.png" alt="Right Arrow" />
    </div> -->

</div>