<!-- <video class="video-background" autoplay muted loop>
    <source src="assets/images/landing-vid.mp4" mute type="video/mp4">
    Your browser does not support the video tag.
</video> -->
<div class="video-background">
    <img src="assets/images/construction-img.jpg" alt="">
</div>
<div class="main">
    <div class="container">
        <div class="section left">
            <h1 class="outline_head">WHAT<br>WE DO</h1>
            <a href="#" class="button" routerLink="/home">Our Capabilities</a>
        </div>
        <div class="section right">
            <img src="assets\ALFA LOGO\ALFA LOGO\Variation Size\1x\ALFAALFA BADGE W NAME V2.1 WHITE1x.png" alt="">
        </div>
        <div class="section right">
            <h1 class="outline_head">LATEST<br>WORK</h1>
            <a href="#" class="button">Featured Projects</a>
        </div>
    </div>
</div>
