<section class="leadership call-to-action-section-two">
    <div class="cover">
        <div class="container">
            <div class="col-12 flex justify-content-center" data-aos="zoom-in" data-aos-delay="400"
                data-aos-duration="800">
                <div class="content narrow">
                    <h2>Leadership is Transforming Visionary Goals into Reality</h2>

                    <p class="text">
                        At ALFA, leadership means turning ambitious goals into actionable achievements through strategic
                        foresight, innovation, and collaboration. By empowering teams and fostering a culture of
                        excellence, we deliver impactful solutions that drive progress, create value, and inspire
                        meaningful change across industries and communities.</p>
                    <p>
                        <a routerLink="/leadership" class="button primary cta">
                            <svg class="svg-inline--fa fa-arrow-right icon" aria-hidden="true" focusable="false"
                                data-prefix="fass" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M422.6 278.6L445.3 256l-22.6-22.6-144-144L256 66.7 210.8 112l22.6 22.6L322.8 224 32 224 0 224l0 64 32 0 290.7 0-89.4 89.4L210.8 400 256 445.3l22.6-22.6 144-144z">
                                </path>
                            </svg>
                            Our Leadership
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>