<div class="logo-slider" data-v-4ef8651c="">
  <div class="logos-slide" data-v-4ef8651c="">
    <img src="https://i.ibb.co/Vv5rkDK/api-partner-verzon.png" data-v-4ef8651c="">
    <img src="https://i.ibb.co/J399KDg/api-partner-netflix.png" data-v-4ef8651c="">
    <img src="https://i.ibb.co/TKT0F5L/api-partner-yelp.png" data-v-4ef8651c="">
    <img src="https://i.ibb.co/HG6KR89/api-partner-adobe.png" data-v-4ef8651c="">
    <img src="https://i.ibb.co/hMSJ1sg/api-partner-ring.png" data-v-4ef8651c="">
    <img src="https://i.ibb.co/4RWQcMS/api-partner-nespresso.png" data-v-4ef8651c="">
  </div>
</div>