<h1>

    MODULAR BUILDINGS
</h1>
<p>

    ALFA MARINE is an EPC contractor for marine and offshore living quarters, accommodation modules and technical
    buildings with high integrity. We offer fire & blast rated solutions that meet the highest standards of ABS & DNV,
    and we can handle the entire project lifecycle from design to build and maintenance.

    Our Core expertise in building various kinds of porta cabins & modular buildings that comply with industry standards
    such as ATEX, IECEx, NORSOK, NFPA, or any other specific requirements. Our units are custom-made and certified by
    independent experts such as ABS, BV, DNV, Lloyd’s, or others. We can deliver offshore and onsite buildings with
    cost-effective and quality solutions.

    We have a global network of manufacturing teams that provide value and flexibility to every project. Our services
    include High Integrity Modules, Architectural, E&I, HVAC, & Piping. Our teams design, engineer and procured all
    materials before travelling to install them on site as per the client's needs.

    Our Blast rated modules are designed by our partner-based team and manufactured in our KSA facility following the
    API 752/753 recommended practices.
</p>
<h1>
    CHOICES ON THE PERFORMANCE CRITERIA OF THE BUILDING UNDER BLAST EVENT ARE:
</h1>
<ul>
    <li>

        • Low Response: Buildings can be used with minimum repairs after the blast.
    </li>
    <li>

        • Medium Response: Damages are widespread and will involve significant repair costs. Building
        can be re-used with repair after the blast.
    </li>
    <li>

        • High Response: Repair costs will become equal to fresh construction costs after the blast.
        Our modules are fully rated, certified and provide spacious, comfortable, and high-quality living quarters in
        challenging environments.
    </li>
    <li>

        • Accommodation modules
    </li>
    <li>

        • Living Quarters
    </li>
    <li>

        • Recreation
    </li>
    <li>

        • Galley
    </li>
    <li>

        • Messroom
    </li>
    <li>

        • Locker
    </li>
    <li>

        • Office
    </li>
    <li>

        • Crew Transportation
    </li>
    <li>

        • Quarantine - Isolation
    </li>
    <li>

        • Bespoke - Specials
    </li>
    <li>

        • Equipment Rooms (LERs, RIEs, E-Houses & Substations)
    </li>
    <li>

        • Control Rooms
    </li>
    <li>

        • Substation Modules
    </li>
    <li>

        • E-house
    </li>
    <li>

        • Electrical Power Skid
    </li>
    <li>

        • Battery Rooms
    </li>
    <li>

        • Switch Gear Room
    </li>
    <li>

        • Telecom-Shelters
    </li>
    <li>

        • Measurement While Drilling (MWD)
    </li>
    <li>

        • Mud logging unit
    </li>
    <li>

        • Workshops
    </li>
    <li>

        • Laboratories
    </li>
    <li>
        • Storage unit

    </li>


</ul>
<p>

    As a manufacturer of offshore accommodation modules, ALFA MARINE maintains rigorous product development discipline
    in
    new product conceptualization, requirements definition, design and engineering execution. Whether it is a single,
    custom
    offshore module or an accommodation complex, we design every aspect of the product or project from the interior
    layout
    to how many levels we can stack to the configuration for walkways, stairs, railings and other support
    infrastructure.

    When we initiate a custom project, we start with a requirements definition. With our expert team across sales,
    project
    management and engineering, we will work with your team to fully capture all the specifications necessary to
    successfully complete the project.

    As a custom project advances from pre-sale planning to post award, our project management team initiates actions
    across
    engineering, fabrication, supply chain, logistics and installation support. The engineering team uses 3D design
    software
    programs such as SolidWorks and other software tools to design and model both individual modules and stacked and
    linked
    temporary living quarters complexes.
</p>