<div class="inner-section px-3 lg:px-0 py-8">
    <div class="container fadeindown animation-duration-3000">
        <div class="ins-head-box">
            <h1 class="ins-heading"> MODULAR BUILDINGS</h1>
        </div>
        <div class="flex flex-column gap-4">
            <p class="txt-description">
                <span class="txt-big">ALFA</span>
                is a leading EPFC and LSTK contractor specializing in the design, construction, and maintenance of
                marine and offshore living quarters, accommodation modules, and high-integrity technical buildings. We
                provide fire and blast-rated solutions that adhere to the highest international standards e.g. ABS and
                DNV certifications.
            </p>
            <p class="txt-description">
                With a strong commitment to excellence and innovation, ALFA provides state-of-the-art modular building
                solutions. These services meet rigorous industry standards ATEX, IECEx, NORSOK, NFPA, AWS or any other
                specific requirements. We collaborate with globally recognized certification bodies, including ABS, BV,
                DNV, and Lloyd's, ensuring the highest levels of safety and quality.
            </p>
            <p class="txt-description">
                We have a global network of manufacturing teams that provide value and flexibility to every project. Our
                services include High Integrity Modules, Architectural, E&I, HVAC, & Piping. Our teams design, engineer
                and procured all materials before travelling to install them on site as per the client's needs.
            </p>

            <h4>Comprehensive Services</h4>
            <p class="txt-description">
                Our expertise spans high-integrity modules, architectural design, electrical and instrumentation (E&I),
                HVAC systems, and piping. Leveraging a global manufacturing network, we provide value and flexibility,
                managing the entire project lifecycle—from design and engineering to material procurement and on-site
                installation.
            </p>
            <div class="inner-box rounded-4 px-3 mt-4 xl:p-4">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Blast-Rated Modules</h1>
                </div>
                <p class="txt-description">
                    Our blast-rated modules, manufactured in our KSA facility, are designed in accordance with API
                    752/753 recommended practices. These modules are engineered to withstand blast events with
                    performance options:
                </p>

                <div class="inner-box rounded-4 px-3 xl:p-1">
                    <ul class=" flex flex-column gap-4">
                        <li>
                            <span class="txt-big">Low Response </span>
                            <span class="txt-description">• Low Response: Minimal repairs required post-blast, allowing
                                immediate reuse.
                            </span>
                        </li>
                        <li>
                            <span class="txt-big"> Medium Response</span>
                            <span class="txt-description"> Widespread damage requiring significant repairs, but the
                                building
                                remains reusable.
                            </span>
                        </li>
                        <li>
                            <span class="txt-big">High Response: </span>
                            <span class="txt-description"> Extensive damage where repair costs are equivalent to new
                                construction.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner-box rounded-4 px-3 mt-4 xl:p-4">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Applications</h1>
                </div>
                <p class="txt-description">
                    Our fully rated and certified modules provide high-quality living and operational environments
                    in challenging conditions. Key applications include:
                </p>

                <div class="inner-box rounded-4 px-3 xl:p-1">
                    <ul class="row">
                        <li class="col-12 xl:col-4 lg:col-6">
                            <span class="txt-big">Living Quarters: </span>
                            <span class="txt-description"> Accommodation modules, recreation facilities, galleys,
                                messrooms,
                                locker rooms, and offices.
                            </span>
                        </li>
                        <li class="col-12 xl:col-4 lg:col-6">
                            <span class="txt-big">Specialized Units:</span>
                            <span class="txt-description"> logging Unit, Crew transportation, quarantine/isolation
                                units,
                                bespoke modules, and equipment rooms (LERs, RIEs, E-Houses, and substations).
                            </span>
                        </li>
                        <li class="col-12 xl:col-4 lg:col-6">
                            <span class="txt-big">Operational Modules:</span>
                            <span class="txt-description"> Control rooms, substation modules, electrical power skids,
                                battery rooms, and switchgear rooms.
                            </span>
                        </li>
                        <li class="col-12 xl:col-4 lg:col-6">
                            <span class="txt-big">Technical Shelters:</span>
                            <span class="txt-description"> Telecom shelters, measurement while drilling (MWD) units, mud
                                logging units, workshops, laboratories, and storage units.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="inner-box rounded-4 px-3 mt-4 xl:p-4">
                <div class="ins-head-box">
                    <h1 class="ins-heading sm">Customization & Project Execution</h1>
                </div>
                <p class="txt-description">
                    At ALFA, we prioritize customized solutions, starting each project with a comprehensive
                    requirements definition. Our experienced sales, project management, and engineering teams
                    collaborate with clients to ensure every specification is addressed.
                    We design every aspect of the project, from interior layouts to multi-level stacking and
                    support infrastructure configurations, including walkways, stairs, and railings.
                </p>


            </div>
        </div>
    </div>
</div>