<div class="inner-section px-3 lg:px-0 py-8">
  <div class="container">
    <div class="ins-head-box">
      <h1 class="ins-heading"> Our Product / Supplies</h1>
    </div>
    <div class="flex flex-column gap-4">
      <p class="txt-description">
        We are an experienced and well-established Marine, Offshore, Defense, Oil and Gas supplier based in Saudi Arabia
        and Bahrain. We can provide you with quality supplies that meet your high standards. Our company is driven by
        the principle of satisfying our clients' needs and expectations.
      </p>
      <div class="inner-box rounded-4 px-3 xl:p-6">

        <ul class="row">
          <li class="col-12 lg:col-6"> <span class="txt-description">Offshore and Marine Technical Supplies </span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Safety and Fire Fighting Equipment </span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Personal Protective Equipment (PPE) </span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Lifting and Rigging Equipment </span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Accessories (Flags, IMO Signs, etc.) </span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Water Tanks (Various Sizes) </span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Diesel Tanks (Various Sizes)</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Cable Trays, Conduit Pipe and Accessories</span>
          </li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Electrical Equipment and Materials</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">General Tools and Hardware</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Pumps and Motors</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Commercial Office Furniture</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Stationery and Office Supplies</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Customized Fabric Uniforms and Liners</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Kitchen Appliances</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Hardware Tools</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Industrial Hoses (onshore and offshore)</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Pipes, Fittings, Valves, and Flanges</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Alloy Steel Products</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Laboratory Furniture and Equipment</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Industrial Supplies</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Construction Materials</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Technical Insulation</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Flooring Products: Tiles, Vinyl, Epoxy, and
              Acrylic</span>
          </li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Walls Panel System: B15 to A60 Wall Systems</span>
          </li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Ceilings: B0 to B15 Ceiling System</span></li>
          <li class="col-12 lg:col-6"> <span class="txt-description">Wet Units and Bathroom Equipment</span></li>
          <li class="col-12"> <span class="txt-description">IMO Approved Furniture and Equipment </span>

            <div class="inner-box rounded-4 px-3 xl:p-6">

              <ul class="row">
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    Custom Made Furniture for All Areas in Accommodation Units
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> </span> Cabins: Beds, Wardrobes, Cabinets, Desks, Chairs, etc.
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> Recreation Rooms: </span> Couches, Recliners, Cabinets, etc.
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> Galley:</span> Stainless Steel Furniture, Stainless Steel Equipment
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> Mess:</span> Tables, Chairs, Bain-Marie, Cabinets, etc.
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> Laboratories: </span> Stainless Steel Furniture
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> Offices: </span> Office Desk, Chairs, Drawer Cabinets, Cabinets, etc.
                  </span>
                </li>
                <li class="col-12 lg:col-6">
                  <span class="txt-description">
                    <span class="txt-big"> Changing Rooms:</span> Steel Lockers, Benches, Boot Dryers, etc.
                  </span>
                </li>

              </ul>

            </div>

          </li>

        </ul>

      </div>
    </div>
  </div>
</div>