<h1>Our Product / Supplies</h1>
<p>We are an experienced and well-established Marine, Offshore, Defense, Oil and Gas supplier based in Saudi Arabia and Bahrain. We can provide you with quality supplies that meet your high standards. Our company is driven by the principle of satisfying our clients' needs and expectations.</p>
<ul>
  <li>Offshore and Marine Technical Supplies</li>
  <li>Safety and Fire Fighting Equipment</li>
  <li>Personal Protective Equipment (PPE)</li>
  <li>Lifting and Rigging Equipment</li>
  <li>Accessories (Flags, IMO Signs, etc.)</li>
  <li>Water Tanks (Various Sizes)</li>
  <li>Diesel Tanks (Various Sizes)</li>
  <li>Cable Trays, Conduit Pipe and Accessories</li>
  <li>Electrical Equipment and Materials</li>
  <li>General Tools and Hardware</li>
  <li>Pumps and Motors</li>
  <li>Commercial Office Furniture</li>
  <li>Stationery and Office Supplies</li>
  <li>Customized Fabric Uniforms and Liners</li>
  <li>Kitchen Appliances</li>
  <li>Hardware Tools</li>
  <li>Industrial Hoses (onshore and offshore)</li>
  <li>Pipes, Fittings, Valves, and Flanges</li>
  <li>Alloy Steel Products</li>
  <li>Laboratory Furniture and Equipment</li>
  <li>Industrial Supplies</li>
  <li>Construction Materials</li>
  <li>Technical Insulation</li>
  <li>Flooring Products: Tiles, Vinyl, Epoxy, and Acrylic</li>
  <li>Walls Panel System: B15 to A60 Wall Systems</li>
  <li>Ceilings: B0 to B15 Ceiling System</li>
  <li>Wet Units and Bathroom Equipment</li>
  <li>IMO Approved Furniture and Equipment
    <ul class="nested">
      <li>Custom Made Furniture for All Areas in Accommodation Units</li>
      <li>Cabins: Beds, Wardrobes, Cabinets, Desks, Chairs, etc.</li>
      <li>Recreation Rooms: Couches, Recliners, Cabinets, etc.</li>
      <li>Galley: Stainless Steel Furniture, Stainless Steel Equipment</li>
      <li>Mess: Tables, Chairs, Bain-Marie, Cabinets, etc.</li>
      <li>Laboratories: Stainless Steel Furniture</li>
      <li>Offices: Office Desk, Chairs, Drawer Cabinets, Cabinets, etc.</li>
      <li>Changing Rooms: Steel Lockers, Benches, Boot Dryers, etc.</li>
    </ul>
  </li>
</ul>